@using WebTruyen.Models;
@{
    List<NhomTG> nhomCuaToi = ViewBag.NhomCuaToi;
    List<NhomTG> nhomKoCuaToi = ViewBag.NhomKoCuaToi;
    Layout = null;
}

<div class="tab-pane" id="Nhom">
    <div class="tab-group-item">
        <div class="tab-item">
            <p>Nhóm của tôi</p>
            <div class="row">
                @foreach (NhomTG nhom in nhomCuaToi)
                {
                    <div class="col-md-4">
                        <div class="history-content">
                            <div class="item-thumb">
                                <a href="@Url.Action("Index","NhomTacGia",new {id = WebTruyen.Helper.Commons.convertToUnSign3(nhom.TenNhom + "-"+ nhom.MaNhom) })" title="@nhom.MaNhom">
                                    <img width="75" height="106" src="~/Asset/Web/wp-content/themes/madara/images/nhom.jpg" class="img-responsive" style="" alt="@nhom.TenNhom">
                                </a>
                            </div>
                            <div class="item-infor">
                                <div class="settings-title">
                                    <h3>
                                        <a href="@Url.Action("Index","NhomTacGia",new {id = WebTruyen.Helper.Commons.convertToUnSign3(nhom.TenNhom + "-"+ nhom.MaNhom) })">@nhom.TenNhom</a>
                                    </h3>
                                </div>
                                <div class="post-on font-meta">
                                    @(nhom.NgayThanhLap.ToString("dd/MM/yyyy"))
                                </div>
                            </div>
                            <div class="action">
                                <a href="javascript:void(0)" class="remove-manga-history" data-manga="1930"><i class="icon ion-ios-close"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <p>Các nhóm có thể tham gia</p>
            <div class="row">
                @foreach (NhomTG nhom in nhomKoCuaToi)
                {
                    <div class="col-md-4">
                        <div class="history-content">
                            <div class="item-thumb">
                                <a href="@Url.Action("ThongTinNhom","TacGia",new {id = WebTruyen.Helper.Commons.convertToUnSign3(nhom.TenNhom + "-"+ nhom.MaNhom) })" title="@nhom.MaNhom">
                                    <img width="75" height="106" src="~/Asset/Web/wp-content/themes/madara/images/nhom.jpg" class="img-responsive" style="" alt="@nhom.TenNhom">
                                </a>
                            </div>
                            <div class="item-infor">
                                <div class="settings-title">
                                    <h3>
                                        <a href="@Url.Action("ThongTinNhom","TacGia",new {id = WebTruyen.Helper.Commons.convertToUnSign3(nhom.TenNhom + "-"+ nhom.MaNhom) })">@nhom.TenNhom</a>
                                    </h3>
                                </div>
                                <div class="post-on font-meta">
                                    @(nhom.NgayThanhLap.ToString("dd/MM/yyyy"))
                                </div>
                            </div>
                            <div class="action">
                                <a href="javascript:void(0)" class="remove-manga-history"><i class="icon ion-ios-close"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-12 widget c-popular">
                <button class="btn widget-view-more btn-block" id="btn_taoNhom">Tạo nhóm mới</button>
            </div>
        </div>
    </div>
</div>