@using WebTruyen.Models
@using WebTruyen.Helper
@model TaiKhoan
@{
    webtruyenptEntities db = new webtruyenptEntities();
    Layout = null;
}

<div class="tab-pane active" id="ThongTinTacGia">
    <div class="tab-item">
        <div class="choose-avatar">
            <div class="loading-overlay">
                <div class="loading-icon">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>
            </div>
            <div class="c-user-avatar row">
                <img alt="" src="@(Model.Avatar??"/se")" onerror="this.onerror=null;this.src='https://secure.gravatar.com/avatar/b650eff44bd823b9df5d4fbd0d0b8422?s=390&amp;d=mm&amp;r=g';" class="avatar avatar-195 photo" height="195" width="195" loading="lazy" id="Avatar">
                <div style="margin-left:20px">
                    @if (ViewBag.isTheoDoi == null)
                    {
                        <h1>Bút danh:<span>@(Model.ButDanh ?? Model.HovaTen) </span> <i class="fas fa-pencil-alt" id="suaButDanh" style="cursor:pointer"></i></h1>
                    }
                    else
                    {
                        <h1>Bút danh: @(Model.ButDanh??Model.HovaTen)</h1>
                    }
                    
                    <p>Lượt theo dõi: @Model.luotTheoDoi().Count</p>
                    @if (ViewBag.isTheoDoi ?? false)
                    {
                        <button type="button" class="btn btn-info" id="theoDoi"><i class="fas fa-heart" @Html.Raw(Auth.user().isTheoDoi(Model.MaTK) ? "style=\"color: red\" thich=\"1\"" : "")></i>Theo dõi</button>
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane active" id="truyenCuaTG">
            <table class="table table-hover list-bookmark">
                <thead>
                    <tr>
                        <th>Tên truyện tranh</th>
                        <th>Thời gian cập nhật</th>
                        <th>Biên tập</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (vvTruyen truyen in Model.vvTruyens())
                    {
                        <tr>
                            <td>
                                <div class="mange-name">
                                    <div class="item-thumb">
                                        <a href="@Url.Action("TomTat", "Truyen", new {id = Commons.convertToUnSign3(truyen.TenTruyen +"-"+truyen.MaTruyen) })" title="@truyen.TenTruyen">
                                            <img width="75" height="106" src="@truyen.AnhBia" class="img-responsive" style="" alt="@truyen.TenTruyen">
                                        </a>
                                    </div>
                                    <div class="item-infor">
                                        <div class="post-title">
                                            <h3>
                                                <a href="@Url.Action("TomTat", "Truyen", new {id = Commons.convertToUnSign3(truyen.TenTruyen +"-"+truyen.MaTruyen) })">@truyen.TenTruyen</a>
                                            </h3>
                                        </div>
                                        <div class="list-chapter">
                                            <div class="chapter-item ">
                                                <span class="chapter font-meta">
                                                    <a href="@Url.Action("Truyen", "Truyen", new {id = Commons.convertToUnSign3(truyen.TenTruyen +"-"+truyen.MaTruyen),Chuong = truyen.SoChuong1 })" class="btn-link"> @truyen.TenChuong1 </a>
                                                </span>
                                            </div>
                                            <div class="chapter-item ">
                                                <span class="chapter font-meta">
                                                    <a href="@Url.Action("Truyen", "Truyen", new {id = Commons.convertToUnSign3(truyen.TenTruyen +"-"+truyen.MaTruyen),Chuong = truyen.SoChuong2 })" class="btn-link"> @truyen.TenChuong2 </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="post-on">
                                    @(truyen.NgayDang?.ToString("dd/MM/yyyy"))
                                </div>
                            </td>
                            <td>
                                <div class="action">
                                    <div class="checkbox">
                                        <input id="@truyen.MaTruyen" class="bookmark-checkbox" value="@truyen.MaTruyen" type="checkbox">
                                        <label for="@truyen.MaTruyen"></label>
                                    </div>
                                    @if (ViewBag.isTheoDoi == null) { 
                                        <a class="wp-manga-delete-bookmark" href="javascript:void(0)" onclick="suaTruyen(@truyen.MaTruyen)" data-toggle="modal" data-target="#suaTruyen"><i class="icon ion-ios-settings"></i></a>
                                    }                                    
                                </div>
                            </td>
                        </tr>
                    }

                    @if (ViewBag.isTheoDoi == null)
                    {
                        <tr>
                            <td colspan="3">
                                <div class="remove-all float-right">
                                    <div class="checkbox">
                                        <input id="checkall" type="checkbox">
                                        <label for="checkall">Rà soát tất cả</label>
                                    </div>
                                    <button type="button" id="delete-bookmark-manga" class="btn btn-default">Xóa bỏ</button>
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
