@using WebTruyen.Models
@model List<Truyen>
<div class="tab-pane" id="ThongKe">
    <h2>
        Thống kê <select id="soNgay">
            <option value="7">Trong 7 ngày</option>
            <option value="14">Trong 14 ngày</option>
            <option value="30">Trong 30 ngày</option>
        </select>
    </h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#luotThich">Lượt thích</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#luotXem">Lượt xem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#luotTheoDoi">Lượt theo dõi</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="luotThich" class="container tab-pane active">
            <div class="row">
                <div class="col-md-8 col-xs-12" id="choCavasLuotThich">
                    <canvas id="chartLuotThich" style="height:300px"></canvas>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="row" style="overflow-y:scroll; height:300px">
                        @foreach (Truyen truyen in Model)
                        {
                            <div class="col-md-12">
                                <div class="history-content">
                                    <div class="item-thumb">
                                        <a href="@Url.Action("TomTat","Truyen",new {id = WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen + "-"+ truyen.MaTruyen) })" title="@truyen.MaTruyen">
                                            <img width="75" height="106" src="@truyen.QuanLyHinhAnh.URL" class="img-responsive" style="" alt="@truyen.MaTruyen">
                                        </a>
                                    </div>
                                    <div class="item-infor">
                                        <div class="settings-title">
                                            <h6>
                                                <a href="@Url.Action("TomTat","Truyen",new {id = WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen + "-"+ truyen.MaTruyen) })">@truyen.TenTruyen</a>
                                            </h6>
                                        </div>
                                        <div class="chapter">
                                            <span class="chap">
                                                Lượt thích: @truyen.luotThich()
                                            </span>
                                        </div>
                                        <div class="post-on font-meta">
                                            @(truyen.NgayDang?.ToString("dd/MM/yyyy"))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="luotXem" class="container tab-pane fade">
            <div class="row">
                <div class="col-md-8 col-xs-12" id="choCavasLuotXem">
                    <canvas id="chartLuotXem" style="height:300px"></canvas>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="row" style="overflow-y:scroll;height:300px">
                        @foreach (Truyen truyen in Model)
                        {
                            <div class="col-md-12">
                                <div class="history-content">
                                    <div class="item-thumb">
                                        <a href="@Url.Action("TomTat","Truyen",new {id = WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen + "-"+ truyen.MaTruyen) })" title="@truyen.MaTruyen">
                                            <img width="75" height="106" src="@truyen.QuanLyHinhAnh.URL" class="img-responsive" style="" alt="@truyen.MaTruyen">
                                        </a>
                                    </div>
                                    <div class="item-infor">
                                        <div class="settings-title">
                                            <h6>
                                                <a href="@Url.Action("TomTat","Truyen",new {id = WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen + "-"+ truyen.MaTruyen) })">@truyen.TenTruyen</a>
                                            </h6>
                                        </div>
                                        <div class="chapter">
                                            <span class="chap">
                                                Lượt Xem: @truyen.luotXem()
                                            </span>
                                        </div>
                                        <div class="post-on font-meta">
                                            @(truyen.NgayDang?.ToString("dd/MM/yyyy"))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="luotTheoDoi" class="container tab-pane fade">
            <div class="row">
                <div class="col-md-8 col-xs-12" id="choCavasTheoDoi">
                    <canvas id="chartLuotTheoDoi" style="height:300px"></canvas>
                </div>
                <div class="col-md-4 col-xs-12">

                </div>
            </div>
        </div>
    </div>
</div>