@using WebTruyen.Models
@using WebTruyen.Helper
@{
    ViewBag.Title = "TrangTacGia";
    Layout = "~/Views/Shared/_Layoutwebindex.cshtml";
}
@section css{
    <link href="~/Asset/TacGia/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
    <link href="~/Asset/TacGia/uploader-master/src/css/jquery.dm-uploader.css" rel="stylesheet" />
    <link href="~/Asset/TacGia/uploader-master/styles.css" rel="stylesheet" />
}
<style>
    .modal-open {
        overflow: hidden;
    }

        .modal-open .modal {
            overflow-x: hidden;
            overflow-y: auto;
        }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }

    .modal-dialog {
        position: relative;
        width: auto;
        margin: 0.5rem;
        pointer-events: none;
    }

    .modal.fade .modal-dialog {
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }

    @@media (prefers-reduced-motion: reduce) {
        .modal.fade .modal-dialog {
            transition: none;
        }
    }

    .modal.show .modal-dialog {
        -webkit-transform: none;
        transform: none;
    }

    .modal.modal-static .modal-dialog {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }

    .modal-dialog-scrollable {
        display: -ms-flexbox;
        display: flex;
        max-height: calc(100% - 1rem);
    }

        .modal-dialog-scrollable .modal-content2 {
            max-height: calc(100vh - 1rem);
            overflow: hidden;
        }

        .modal-dialog-scrollable .modal-header,
        .modal-dialog-scrollable .modal-footer {
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        .modal-dialog-scrollable .modal-body {
            overflow-y: auto;
        }

    .modal-dialog-centered {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        min-height: calc(100% - 1rem);
    }

        .modal-dialog-centered::before {
            display: block;
            height: calc(100vh - 1rem);
            height: -webkit-min-content;
            height: -moz-min-content;
            height: min-content;
            content: "";
        }

        .modal-dialog-centered.modal-dialog-scrollable {
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: center;
            justify-content: center;
            height: 100%;
        }

            .modal-dialog-centered.modal-dialog-scrollable .modal-content2 {
                max-height: none;
            }

            .modal-dialog-centered.modal-dialog-scrollable::before {
                content: none;
            }

    .modal-content2 {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: #000;
    }

        .modal-backdrop.fade {
            opacity: 0;
        }

        .modal-backdrop.show {
            opacity: 0.5;
        }

    .modal-header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: calc(0.3rem - 1px);
        border-top-right-radius: calc(0.3rem - 1px);
    }

        .modal-header .close {
            padding: 1rem 1rem;
            margin: -1rem -1rem -1rem auto;
        }

    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
    }

    .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem;
    }

    .modal-footer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 0.75rem;
        border-top: 1px solid #dee2e6;
        border-bottom-right-radius: calc(0.3rem - 1px);
        border-bottom-left-radius: calc(0.3rem - 1px);
    }

        .modal-footer > * {
            margin: 0.25rem;
        }

    .modal-scrollbar-measure {
        position: absolute;
        top: -9999px;
        width: 50px;
        height: 50px;
        overflow: scroll;
    }

    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 500px;
            margin: 1.75rem auto;
        }

        .modal-dialog-scrollable {
            max-height: calc(100% - 3.5rem);
        }

            .modal-dialog-scrollable .modal-content2 {
                max-height: calc(100vh - 3.5rem);
            }

        .modal-dialog-centered {
            min-height: calc(100% - 3.5rem);
        }

            .modal-dialog-centered::before {
                height: calc(100vh - 3.5rem);
                height: -webkit-min-content;
                height: -moz-min-content;
                height: min-content;
            }

        .modal-sm {
            max-width: 300px;
        }
    }

    @@media (min-width: 992px) {
        .modal-lg,
        .modal2-xl {
            max-width: 800px;
        }
    }

    @@media (min-width: 1200px) {
        .modal2-xl {
            max-width: 1140px;
        }
    }
</style>
<div class="site-content">
    <div class="c-page-content style-2">
        <div class="content-area">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-12 col-sm-12">
                        <div class="c-sidebar">
                            <div class="body-top-sidebar">
                                <div class="row c-row">
                                </div>
                            </div>
                        </div>
                        <div class="main-col-inner">
                            <div id="post-5" class="c-blog-post post-5 page type-page status-publish hentry">
                                <div class="entry-header">
                                    <div class="entry-header_wrap">
                                        <div class="entry-title">
                                            <h1 class="item-title h2">Trang tác giả</h1>
                                        </div>
                                        <div class="entry-meta">
                                            <div class="post-on">
                                                <span class="font-meta">posted on</span>
                                                <div class="c-blog__date">
                                                    <span class="posted-on"> <a href="##" rel="bookmark">@DateTime.Now.ToString("dd/MM/yyyy")</a></span>
                                                    <span class="post-category"><br></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-content_wrap">
                                        <div class="row settings-page">
                                            <div class="col-md-3 col-sm-3">
                                                <div class="nav-tabs-wrap">
                                                    <ul class="nav nav-tabs" id="menuuser">
                                                        <li class="active">
                                                            <a href="#ThongTinTacGia" data-toggle="tab"><i class="fas fa-cloud"></i>Thông tin tác giả</a>
                                                        </li>
                                                        <li class="">
                                                            <a href="#DangTacPhan" data-toggle="tab"><i class="fas fa-book"></i>Đăng tác phẩm</a>
                                                        </li>
                                                        <li class="">
                                                            <a href="#ThemChuong" data-toggle="tab"><i class="fas fa-file"></i>Thêm chương</a>
                                                        </li>
                                                        <li class="">
                                                            <a href="#ThongKe" data-toggle="tab"><i class="fas fa-chart-bar"></i>Thống kê</a>
                                                        </li>
                                                        <li class="">
                                                            <a href="#Nhom" data-toggle="tab"><i class="fas fa-users"></i>Nhóm</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-9">
                                                <div class="tabs-content-wrap">
                                                    <div class="tab-content">                                                        
                                                        <div class="tab-pane" id="DangTacPhan">
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <label for="usr">Tên truyện:</label>
                                                                    <input type="text" class="form-control" id="tenTruyen" name="username">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-9">
                                                                    <textarea id="editor"></textarea>
                                                                    <div class="col-md-12 widget c-popular">
                                                                        <button class="btn widget-view-more btn-block" data-toggle="modal" data-target="#dangTacPham" id="btn_dangTacPham">Đăng tác phẩm</button>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 widget c-popular">
                                                                    <img src="" class="img-responsive effect-fade lazyloaded" id="anhBia" />
                                                                    <button class="btn widget-view-more btn-block" data-toggle="modal" data-target="#chonAnh" id="btn_themAnhBia">Thêm ảnh bìa</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="ThemChuong">
                                                            <div class="row">
                                                                <div class="form-group col-md-9">
                                                                    <label for="usr">Tên truyện:</label>
                                                                    <select id="c_tenTruyen" class="form-control">
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    <label for="usr">Số chương:</label>
                                                                    <select id="c_tenChuong" class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <label for="usr">Tên Chương:</label>
                                                                    <input id="tenChuong" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <textarea id="editor_e"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 widget c-popular" style="display:flex">
                                                                    <button class="btn widget-view-more" style="margin:5px;padding:10px" id="dangChuong">Đăng</button>
                                                                    <button class="btn btn-default" style="margin:5px;padding:10px" id="luuNhapChuong">Lưu nháp</button>
                                                                    <button class="btn btn-danger" style="margin:5px;padding:10px" id="xoaChuong">Xóa</button>
                                                                </div>
                                                            </div>
                                                            <div id="truyenTranh" hidden></div>
                                                        </div>

                                                        @{
                                                            Html.RenderAction("thongTinTacGia", "TacGia");
                                                            Html.RenderAction("thongKe", "TacGia");
                                                            Html.RenderAction("Nhom", "TacGia");
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-sidebar">
                            <div class="body-bottom-sidebar">
                                <div class="row c-row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="chonAnh">
    <div class="modal-dialog modal2-xl" style="width: 80%">
        <div class="modal-content2">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chọn Ảnh</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="anhBia = true">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#allAnh">Danh sách ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Tải Ảnh</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="allAnh" class="container tab-pane active" style="overflow-y:scroll; height:500px">

                    </div>
                    <div id="menu1" class="container tab-pane fade">
                        <div id="drag-and-drop-zone" class="dm-uploader p-5">
                            <h3 class="mb-5 mt-5 text-muted">Kéo ảnh vào đây</h3>

                            <div class="btn btn-primary btn-block mb-5">
                                <span>Chọn tệp</span>
                                <input type="file" title='Click to add Files' />
                            </div>
                        </div><!-- /uploader -->
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" id="progress"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="anhBia = true" id="dongAnh">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="dangTacPham">
    <div class="modal-dialog modal2-xl" style="width: 80%">
        <div class="modal-content2">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Tùy chọn</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="anhBia = true">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label class="mr-sm-2">Thể loại</label>
                <select class="form-control mb-2 mr-sm-2" id="theLoai">
                    @foreach (TheLoai theLoai in ViewBag.theLoai)
                    {
                        <option value="@theLoai.MaLoai">@theLoai.TenLoai</option>
                    }
                </select>
                <label class="mr-sm-2">Tác giả gốc</label>
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Nhập tác giả gốc" id="tacGiaGoc">
                <br />
                <label class="mr-sm-2">Loại truyện</label>
                <select class="form-control mb-2 mr-sm-2" id="loaiTruyen">
                    <option value="1">Truyện Chữ</option>
                    <option value="2">Truyện Tranh</option>
                </select>
                @if (Auth.tacGia().VaiTro == vtTacGia.dichGia)
                {
                    <label class="mr-sm-2">Vai Trò</label>
                    <select class="form-control mb-2 mr-sm-2" id="vaiTro">
                        <option value="1">Tác Giả</option>
                        <option value="2">Dịch Giả</option>
                    </select>
                }
                <label class="mr-sm-2">Đồng sáng tác</label>
                <select class="selectpicker" multiple data-live-search="true" id="dongTG">
                    @foreach (TacGia tacGia in ViewBag.cacTacGia)
                    {
                        if (tacGia.MaTG != Auth.tacGia().MaTG)
                        {
                            <option value="@tacGia.MaTG">@(tacGia.ButDanh)</option>
                        }
                    }
                </select>
                <button type="button" id="dangTruyen" class="btn btn-primary mb-2">Đăng tác phẩm</button>
                <button type="button" id="luuNhap" class="btn btn-primary mb-2">Lưu nháp</button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!--Modal tác giả-->
<!-- The Modal -->
<div class="modal fade" id="suaTruyen">
    <div class="modal-dialog modal2-xl" style="width: 80%">
        <div class="modal-content2">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Sửa truyện</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="anhBia = true">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="anhBia = true" id="dongAnhBia">Close</button>
            </div>
        </div>
    </div>
</div>
@section js{
    <script src="~/Asset/TacGia/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script src="~/Asset/TacGia/uploader-master/src/js/jquery.dm-uploader.js"></script>
    <script>
        var anhTG = [
            @foreach (QuanLyHinhAnh anh in ViewBag.anhCuaTG)
            {
                @Html.Raw("{url: '"+anh.URL+"', MaAnh: "+anh.MaAnh+"},")
            }
        ]
    </script>
    <script src="~/Scripts/react/reactTacGia.js" type="text/babel"></script>
    <script>
        $(document).ready(function () {
            reload_Truyen()
        })
        async function reload_Truyen() {
            debugger
            let Truyen = await API.layTruyenTG(-1)
            let truyen = ""
            Truyen.forEach((item, index) => {
                truyen += '<option value="' + item.MaTruyen + ',' + item.LoaiTruyen + '">' + item.TenTruyen + '</option>'
            })
            $("#c_tenTruyen").html(truyen)
            $("#c_tenTruyen").change()
        }
        var anhBia = true
        $('#editor').trumbowyg({
            btnsDef: {
                insertImage: {
                    fn: function () {
                        anhBia = false
                        $("#btn_themAnhBia").click()
                    },
                    ico: 'insertImage'
                },
            },
            btns: [
                ['strong', 'em'],
                ['justifyLeft', 'justifyCenter'],
            ]
        });
        $(document).ready(function () {
            $("#menuuser li").click(function () {
                $("#menuuser li").removeClass("active")
                $(this).addClass("active")
            });
            $('#drag-and-drop-zone').dmUploader({ //
                url: '@Url.Action("ThemAnh","TacGia")',
                maxFileSize: 3000000, // 3 Megs
                onDragEnter: function () {
                    // Happens when dragging something over the DnD area
                    this.addClass('active');
                },
                onDragLeave: function () {
                    // Happens when dragging something OUT of the DnD area
                    this.removeClass('active');
                },
                onBeforeUpload: function (id) {
                    $("#progress").css({ width: "0" })
                },
                onUploadProgress: function (id, percent) {
                    // Updating file progress
                },
                onUploadSuccess: function (id, data) {
                    debugger
                    if (data.result) {
                        $("#progress").css({ width: "100%" })
                        window.setTimeout(function () { $("#progress").css({ width: "0%" }) }, 1000)
                        //let anh = $("[id_anh]").first().clone(true)
                        //$(anh).appendTo('#allAnh')
                        //$(anh).attr("id_anh", data.MaAnh)
                        //$(anh).attr("src", data.URL)
                        anhTG.push({ url: data.URL, MaAnh: data.MaAnh })
                        reload()
                    } else {
                        alert(data.msg)
                    }
                    // A file was successfully uploaded
                },
                onUploadError: function (id, xhr, status, message) {
                },
                onFallbackMode: function () {
                    // When the browser doesn't support this plugin :(
                },
                onFileSizeError: function (file) {

                }
            });
        })
        $(document).ready(function () {
            $("#dangTruyen,#luuNhap").click(async function () {
                debugger
                let tamAn = $(this).attr("id") == "luuNhap"
                let theLoai = parseInt($("#theLoai").val())
                let tacGiaGoc = $("#tacGiaGoc").val()
                let loaiTruyen = parseInt($("#loaiTruyen").val())
                let anhBia = parseInt($("#anhBia").attr("idAnh"))
                let noiDung = $('#editor').trumbowyg('html')
                if (noiDung.length > 1900) {
                    alert("Nội dung không được quá 2000 ký tự")
                    return
                }
                let dongTG = $('#dongTG').val();
                dongTG = dongTG.map(x => parseInt(x));
                let tenTruyen = $("#tenTruyen").val()
                let vaiTro = ($("#vaiTro").val() == null ? 1 : $("#vaiTro").val())
                $("body").ajaxOn()
                let rs = await API.DangTruyen(0,tenTruyen, theLoai, tacGiaGoc, tamAn, anhBia, loaiTruyen, noiDung, vaiTro, dongTG)
                if (rs) {
                    $("body").ajaxOff()
                    $("#tacGiaGoc").val("");
                    $('#editor').trumbowyg('html', "")
                    $("#tenTruyen").val("")
                    $(".close").click()
                    alert("Đăng truyện thành công")
                } else {
                    $("body").ajaxOff()
                    alert("Đăng thất bại")
                }
                reload_Truyen()
            })
        })
    </script>
    <script>
        $('#editor_e').trumbowyg({
            btnsDef: {
                insertImage: {
                    fn: function () {
                        anhBia = false
                        $("#btn_themAnhBia").click()
                    },
                    ico: 'insertImage'
                },
            },
            btns: [
                ['strong', 'em'],
                ['justifyLeft', 'justifyCenter', 'insertImage'],
            ]
        });
        $(document).ready(function () {
            $("#c_tenTruyen").change(async function () {
                let maTr = $(this).val().split(",")[0]
                let soChuong = await API.laySoChuongTruyen(maTr)
                let chuongMoi = soChuong.length + 1
                let chuong = '<option value="' + maTr + ',' + chuongMoi + '">' + ("Mới") + '</option>'
                soChuong.forEach(function (item, index) {
                    chuong += '<option value="' + item.MaTruyen + ',' + item.SoChuong + '">' + ("Chương" + item.SoChuong + ": " + item.TenChuong) + '</option>'
                })
                $("#c_tenChuong").html(chuong)
            })
            $("#c_tenChuong").change(async function () {
                debugger
                let maTr = parseInt($(this).val().split(",")[0])
                let soChuong = parseInt($(this).val().split(",")[1])
                let noiDung = await API.layNoiDungChuong(maTr, soChuong)
                $("#editor_e").trumbowyg("html", noiDung.NoiDung)
                $("#tenChuong").val(noiDung.TenChuong)
            })
            $("#dangChuong,#luuNhapChuong").click(async function () {
                debugger
                let maTr = parseInt($("#c_tenChuong").val().split(",")[0])
                let soChuong = parseInt($("#c_tenChuong").val().split(",")[1])
                let tenChuong = $("#tenChuong").val()
                let loaiTruyen = parseInt($("#c_tenTruyen").val().split(",")[1])
                let noiDung = $("#editor_e").trumbowyg("html")
                if (loaiTruyen == 2) {
                    $("#truyenTranh").html(noiDung)
                    noiDung = ""
                    $("#truyenTranh").find("[maAnh]").each(function () {
                        noiDung += $(this).attr("maAnh") + ","
                    })
                    if (noiDung == "") {
                        alert("Vui lòng thêm ảnh vô truyện tranh")
                        return
                    }
                    $("#truyenTranh").html("")
                    noiDung = noiDung.substring(0, noiDung.length - 1)
                }
                let Dang = $(this).attr("id") == "dangChuong"
                let rs = await API.createOrUpdateChuong(maTr, soChuong, tenChuong, noiDung, Dang)
                if (rs) {
                    $("#c_tenTruyen").change()
                    alert("Đăng chương thành công")
                }

            })
            $("#xoaChuong").click(async function () {
                if (confirm("Bạn có muốn xóa chương này")) {
                    let maTr = parseInt($("#c_tenChuong").val().split(",")[0])
                    let soChuong = parseInt($("#c_tenChuong").val().split(",")[1])
                    let rs = await API.xoaChuongTG(maTr, soChuong)
                    if (rs) {
                        $("#c_tenTruyen").change()
                        alert("Xóa chương thành công")
                    }
                }
                
            })
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        $(document).ready(async function () {
            async function thongKe(ngay) {                
                let duLieu = await API.layThongKe(ngay)
                let labelsThich = []
                let dataThich = []
                let labelsXem = []
                let dataXem = []
                let labelsTheoDoi = []
                let dataTheoDoi = []
                $("#choCavasLuotThich").html('<canvas id="chartLuotThich" style="height:300px"></canvas>')
                $("#choCavasLuotXem").html('<canvas id="chartLuotXem" style="height:300px"></canvas>')
                $("#choCavasTheoDoi").html('<canvas id="chartLuotTheoDoi" style="height:300px"></canvas>')
                duLieu.LuotThich.forEach(function (item, index) {
                    labelsThich.push(item.Ngay)
                    dataThich.push(item.SoLuong)
                })
                duLieu.LuotXem.forEach(function (item, index) {
                    labelsXem.push(item.Ngay)
                    dataXem.push(item.SoLuong)
                })
                duLieu.LuotTheoDoi.forEach(function (item, index) {
                    labelsTheoDoi.push(item.Ngay)
                    dataTheoDoi.push(item.SoLuong)
                })
                new Chart("chartLuotThich", {
                    type: "bar",
                    data: {
                        labels: labelsThich,
                        datasets: [{
                            backgroundColor: "blue",
                            data: dataThich
                        }]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: true,
                            text: "Lượt thích trong " + ngay + " ngày"
                        }
                    }
                });
                new Chart("chartLuotXem", {
                    type: "bar",
                    data: {
                        labels: labelsXem,
                        datasets: [{
                            backgroundColor: "blue",
                            data: dataXem
                        }]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: true,
                            text: "Lượt xem trong " + ngay + " ngày"
                        }
                    }
                });
                new Chart("chartLuotTheoDoi", {
                    type: "bar",
                    data: {
                        labels: labelsTheoDoi,
                        datasets: [{
                            backgroundColor: "blue",
                            data: dataTheoDoi
                        }]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: true,
                            text: "Lượt theo dõi trong " + ngay + " ngày"
                        }
                    }
                });
            }
            thongKe(7)
            $("#soNgay").change(function () {
                thongKe(parseInt($(this).val()))
            })
        })
    </script>
    <script>
        function suaTruyen(maTruyen) {
            let iframe = '<iframe src="/TacGia/suaTacPham/' + maTruyen + '" width="100%" height="300px" onload="offAjax()"></iframe>'
            $("#suaTruyen").find(".modal-body").html(iframe)
            $("#suaTruyen").ajaxOn()
        }
        function offAjax() {
            $("#suaTruyen").ajaxOff()
        }
        $(document).ready(function () {
            $("#delete-bookmark-manga").click(function () {
                debugger
                if (confirm("Bạn chắc chắn muốn xóa!")) {
                    let check = []
                    $("#truyenCuaTG").find(".bookmark-checkbox").each(function () {
                        if ($(this).is(":checked")) {
                            check.push(this)
                        }
                    })
                    check.forEach(async function (item, index) {
                        let maTruyen = parseInt($(item).val())
                        let rs = await API.xoaTruyenTG(maTruyen)
                    })
                    check.forEach(function (item, index) {
                        $(item).parents("tr").remove()
                    })
                }                
            })
            $("#suaButDanh").click(async function () {
                let butDanh = prompt("Nhập bút danh mới:");
                if (butDanh != null && butDanh != "") {
                    let rs = await API.suaButDanh(butDanh)
                    if (rs) {
                        $(this).prev().text(butDanh)
                        alert("Sửa bút danh thành công")
                    }
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $("#btn_taoNhom").click(async function () {
                let tenNhom = prompt("Nhập tên nhóm");
                let rs = await API.taoNhom(tenNhom)
                if (rs.err == null)
                    window.location.href = rs.Url;
                else
                    alert(rs.err)
            })
        })
    </script>
}