@using WebTruyen.Models
@using WebTruyen.Helper
@{
    webtruyenptEntities db = new webtruyenptEntities();
    ChuongTruyen chuongTruyen = ViewBag.ChuongTruyen;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layoutdoctruyen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="~/Asset/Web/xmlrpc.php">
    <title>@ViewBag.Title</title>
    <meta name="robots" content="max-image-preview:large">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="alternate" type="application/rss+xml" title="Madara Demo » Feed" href="~/Asset/Web/feed/">
    <link rel="alternate" type="application/rss+xml" title="Madara Demo » Comments Feed" href="~/Asset/Web/comments/feed/">
    <link rel="alternate" type="application/rss+xml" title="Madara Demo » Manga Text Chapter Comments Feed" href="~/Asset/Web/manga/manga-text-chapter/feed/">
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

        .menu_fixe {
            position: fixed;
            top: 0;
            background: rgba(0,0,0,0.2);
            padding: 5px 11px;         
            z-index:9999;
        }
        .comment-list.comment-reply {
            padding-left: 50px !important;
            padding-top: 50px !important;
        }
    </style>
    <link rel="stylesheet" id="wp-block-library-css" href="~/Asset/Web/wp-includes/css/dist/block-library/style.min.css?ver=5.7.2" type="text/css" media="all">
    <link rel="stylesheet" id="wp-block-library-theme-css" href="~/Asset/Web/wp-includes/css/dist/block-library/theme.min.css?ver=5.7.2" type="text/css" media="all">
    <link rel="stylesheet" id="wc-block-vendors-style-css" href="~/Asset/Web/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css?ver=4.9.1" type="text/css" media="all">
    <link rel="stylesheet" id="wc-block-style-css" href="~/Asset/Web/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=4.9.1" type="text/css" media="all">
    <link rel="stylesheet" id="ct-shortcode-css" href="~/Asset/Web/wp-content/plugins/madara-shortcodes/shortcodes/css/shortcodes.css?ver=5.7.2" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-layout-css" href="~/Asset/Web/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=5.3.0" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-smallscreen-css" href="~/Asset/Web/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=5.3.0" type="text/css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" id="woocommerce-general-css" href="~/Asset/Web/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=5.3.0" type="text/css" media="all">
    <style id="woocommerce-inline-inline-css" type="text/css">
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel="stylesheet" id="wp-pagenavi-css" href="~/Asset/Web/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70" type="text/css" media="all">
    <link rel="stylesheet" id="fontawesome-css" href="~/Asset/Web/wp-content/themes/madara/app/lib/fontawesome/web-fonts-with-css/css/all.min.css?ver=5.15.3" type="text/css" media="all">
    <link rel="stylesheet" id="ionicons-css" href="~/Asset/Web/wp-content/themes/madara/css/fonts/ionicons/css/ionicons.min.css?ver=4.5.10" type="text/css" media="all">
    <link rel="stylesheet" id="madara-icons-css" href="~/Asset/Web/wp-content/themes/madara/css/fonts/ct-icon/ct-icon.css?ver=5.7.2" type="text/css" media="all">
    <link rel="stylesheet" id="bootstrap-css" href="~/Asset/Web/wp-content/themes/madara/css/bootstrap.min.css?ver=4.3.1" type="text/css" media="all">
    <link rel="stylesheet" id="slick-css" href="~/Asset/Web/wp-content/themes/madara/js/slick/slick.css?ver=1.9.0" type="text/css" media="all">
    <link rel="stylesheet" id="slick-theme-css" href="~/Asset/Web/wp-content/themes/madara/js/slick/slick-theme.css?ver=5.7.2" type="text/css" media="all">
    <link rel="stylesheet" id="loaders-css" href="~/Asset/Web/wp-content/themes/madara/css/loaders.min.css?ver=5.7.2" type="text/css" media="all">
    <link rel="stylesheet" id="madara-css-css" href="~/Asset/Web/wp-content/themes/madara/style.css?ver=1.6.6" type="text/css" media="all">
    <style id="madara-css-inline-css" type="text/css">
        :root {
            --madara-main-color: #eb3349;
        }

        #pageloader.spinners {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: #222
        }

        p.madara-unyson {
            color: #FF0000;
        }

        .table.table-hover.list-bookmark tr:last-child td {
            text-align: center;
        }

        #adminmenu .wp-submenu li.current {
            display: none !important;
        }

        .show_tgmpa_version {
            float: right;
            padding: 0em 1.5em 0.5em 0;
        }

        .tgmpa > h2 {
            font-size: 23px;
            font-weight: 400;
            line-height: 29px;
            margin: 0;
            padding: 9px 15px 4px 0;
        }

        .update-php {
            width: 100%;
            height: 98%;
            min-height: 850px;
            padding-top: 1px;
        }

        .c-blog-post .entry-content .entry-content_wrap .read-container img.alignleft {
            margin: 10px 30px 10px 0 !important;
        }

        .c-blog-post .entry-content .entry-content_wrap .read-container img.alignright {
            margin: 10px 0px 10px 30px !important;
        }

        .read-container i.fas.fa-spinner.fa-spin {
            font-size: 31px;
            color: #888;
        }

        .c-blog-post .entry-content .entry-content_wrap .read-container img {
            cursor: pointer;
        }

        .choose-avatar .loading-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.72);
            z-index: 1;
            display: none;
        }

            .choose-avatar .loading-overlay i.fas.fa-spinner {
                font-size: 40px;
                color: #ec3348;
            }

            .choose-avatar .loading-overlay .loading-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

        .choose-avatar.uploading .loading-overlay {
            display: block;
        }

        .site-header .c-sub-header-nav .entry-header {
            display: none;
            margin-bottom: 15px;
        }

        .site-header .c-sub-header-nav.sticky .entry-header {
            display: block;
        }

        .site-header .c-sub-header-nav.hide-sticky-menu.sticky .c-sub-nav_wrap {
            display: none;
        }

        .site-header .c-sub-header-nav.hide-sticky-menu .entry-header {
            margin-top: 15px;
        }
    </style>
    <script type="text/javascript" src="~/Asset/Web/wp-includes/js/jquery/jquery.min.js?ver=3.5.1" id="jquery-core-js"></script>
    <script type="text/javascript" src="~/Asset/Web/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2" id="jquery-migrate-js"></script>
    <link rel="https://api.w.org/" href="~/Asset/Web/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="~/Asset/Web/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Asset/Web/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 5.7.2">
    <meta name="generator" content="WooCommerce 5.3.0">
    <link rel="canonical" href="~/Asset/Web/manga/manga-text-chapter/chapter-1/">
    <link rel="shortlink" href="~/Asset/Web/?p=454">
    <link rel="alternate" type="application/json+oembed" href="~/Asset/Web/wp-json/oembed/1.0/embed?url=https%3A%2F%2Flive.mangabooth.com%2Fmanga%2Fmanga-text-chapter%2F">
    <link rel="alternate" type="text/xml+oembed" href="~/Asset/Web/wp-json/oembed/1.0/embed?url=https%3A%2F%2Flive.mangabooth.com%2Fmanga%2Fmanga-text-chapter%2F&amp;format=xml">
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <style id="madara-css-inline-css" type="text/css">
        .c-blog__heading.style-2 i {
            background: -webkit-linear-gradient(left, #00d2ff 40%,#3a7bd5);
            background: -o-linear-gradient(right, #00d2ff 40%,#3a7bd5);
            background: -moz-linear-gradient(right, #00d2ff 40%,#3a7bd5);
            background: linear-gradient(to right, #00d2ff 40%,#3a7bd5);
            ;
        }

            .c-blog__heading.style-2 i:after, .settings-page .nav-tabs-wrap ul.nav-tabs li.active:after {
                border-left-color: #3a7bd5;
            }

        .site-header .main-navigation.style-1, .widget-heading, .widget.background:after, .c-blog__heading.style-2 i, .tab-wrap .c-nav-tabs ul.c-tabs-content li.active a:after, .tab-wrap .c-nav-tabs ul.c-tabs-content li:hover a:after, .tab-wrap .c-nav-tabs ul.c-tabs-content li a:after, .related-heading.font-nav, .c-blog__heading.style-3, .settings-page .nav-tabs-wrap ul.nav-tabs li.active a, .off-canvas {
            background: -webkit-linear-gradient(left, #00d2ff 40%,#3a7bd5);
            background: -o-linear-gradient(right, #00d2ff 40%,#3a7bd5);
            background: -moz-linear-gradient(right, #00d2ff 40%,#3a7bd5);
            background: linear-gradient(to right, #00d2ff 40%,#3a7bd5);
            ;
        }

            .widget-heading:after, .related-heading.font-nav:after, .genres_wrap .c-blog__heading.style-3.active:after {
                border-top-color: #00d2ff;
            }

        body.modal-open .modal .modal-content a:hover, .tab-wrap .c-nav-tabs ul.c-tabs-content li.active a, .tab-wrap .c-nav-tabs ul.c-tabs-content li:hover a, body.search.search-results .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-summary .post-content .post-content_item .summary-content:not(.release-year) a:hover, body.search.search-results .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-summary .post-content .post-content_item .summary-content.release-year a:hover, .c-blog-post .entry-header .entry-meta .post-on:before, .manga-slider .slider__container .slick-dots li.slick-active button:before, .manga-slider .slider__container .slick-dots li button:hover:before, body.manga-page .profile-manga .tab-summary .summary_content_wrap .summary_content .post-status .manga-action .count-comment .action_icon a i, body.manga-page .profile-manga .tab-summary .summary_content_wrap .summary_content .post-status .manga-action .add-bookmark .action_icon a i, body.manga-page .profile-manga .tab-summary .summary_content_wrap .summary_content .post-status .manga-action .count-comment .action_detail a i, body.manga-page .profile-manga .tab-summary .summary_content_wrap .summary_content .post-status .manga-action .add-bookmark .action_detail a i, body.manga-page .profile-manga .post-title a, body.manga-page .content-readmore:hover, body.text-ui-light.manga-page .content-readmore:hover, .genres_wrap .genres__collapse .genres ul li a:hover, .genres_wrap .genres__collapse .genres ul li a:hover:before, .c-blog-post .entry-header .entry-meta .post-on .posted-on a:hover, body.search .c-search-header__wrapper #search-advanced .search-advanced-form .form-group.checkbox-group .checkbox label:hover, .site-header .main-navigation .search-navigation .menu-search .open-search-main-menu, .c-btn.c-btn_style-2, body.search .c-search-header__wrapper .search-content .btn-search-adv, body.reading-manga .entry-header .entry-header_wrap .action-icon ul li a, body.reading-manga .c-select-bottom .entry-header_wrap .action-icon ul li a, .widget.c-released .released-item-wrap ul.list-released li a:hover, body.manga-page .profile-manga .post-title h1, .genres_wrap .genres__collapse #genres ul li:hover a, .genres_wrap .genres__collapse #genres ul li:hover a:before, input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before, .genres_wrap a.btn-genres, .c-breadcrumb .breadcrumb li a:hover, body.search.search-results .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-summary .post-content .post-content_item.mg_genres .summary-content, body.page .c-page-content .c-page .c-page__content .page-content-listing .page-listing-item .page-item-detail .item-summary .list-chapter .chapter-item .vol a:hover, #hover-infor .item_thumb .post-title a, body.manga-page .version-chap:before, body.manga-page .content-readmore:hover, body.manga-page .chapter-readmore:hover, .icon-load-info, .c-blog-post .entry-header .entry-meta .post-on .c-blog__date .post-category a:hover, .woocommerce ul.products li.product .price, .woocommerce div.entry-summary p.price, .woocommerce div.entry-summary form.cart .variations .label, .woocommerce div.entry-summary form.cart .quantity-text, .widget_product_categories .product-categories li a:hover, .woocommerce ul.products li.product h2:hover, .woocommerce .c-woo-breadcrumb a:hover, .site-header .c-sub-header-nav .c-sub-nav_wrap .c-modal_item .c-user_item .c-user_menu a:hover, .site-header .c-sub-header-nav .c-sub-nav_wrap .sub-nav_content .sub-nav_list li:hover > a, .settings-page .action i.ion-ios-close:hover:before, .settings-page .list-chapter .chapter-item a:hover, .settings-page .tabs-content-wrap .tab-group-item .tab-item .history-content .item-infor .chapter span a, .settings-page .nav-tabs-wrap ul.nav-tabs li:not(.active):hover a, .main-color,
        .site-header .c-sub-header-nav .c-sub-nav_wrap .sub-nav_content .sub-nav_list li.menu-item-has-children.active > a, .woocommerce .woocommerce-ordering:after, .text-ui-light .widget.c-popular .popular-item-wrap .popular-content .chapter-item .chapter a:hover, body.text-ui-light .settings-page .list-chapter .chapter-item .chapter a:hover, body.search.text-ui-light .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-meta .latest-chap .chapter a:hover {
            color: #00d2ff;
        }

        .c-blog__heading.style-2 i:after {
            border-right-color: #00d2ff !important
        }

        body.page.text-ui-light .c-page-content .c-page .c-page__content .page-content-listing .page-listing-item .page-item-detail .item-summary .list-chapter .chapter-item .chapter a:hover, .text-ui-light .widget.c-popular .popular-item-wrap .popular-content .chapter-item .chapter a:hover, #hover-infor .item_thumb .post-title a {
            color: #FFFFFF
        }

        .navigation-ajax .load-ajax:not(.show-loading):hover, .listing-chapters_wrap .has-child .wp-manga-chapter:before, .c-wg-button-wrap .btn:hover, body.manga-page .page-content-listing.single-page .listing-chapters_wrap ul.main.version-chap .wp-manga-chapter:before, .site-header .search-main-menu form input[type=submit], .form-submit input[type=submit], #comments.comments-area #respond.comment-respond .comment-form .form-submit #submit, .c-btn.c-btn_style-1, .settings-page input[type="submit"], .settings-page .remove-all #delete-bookmark-manga, body.manga-page .page-content-listing.single-page .listing-chapters_wrap > ul.main.version-chap li .wp-manga-chapter:before, .woocommerce ul.products li.product .button, .woocommerce span.onsale, .woocommerce .widget_price_filter .price_slider_amount .button:not(:hover), .woocommerce .woocommerce-pagination .page-numbers li span.current, .woocommerce .woocommerce-pagination .page-numbers li .prev:hover, .woocommerce .woocommerce-pagination .page-numbers li .next:hover, .woocommerce div.entry-summary form.cart .single_add_to_cart_button {
            background: #00d2ff;
        }

        .navigation-ajax .load-ajax:not(.show-loading):hover, .popular-slider .slider__container .slider__item .slider__content .slider__content_item .chapter-item .chapter a:hover, body.search .c-search-header__wrapper .search-content .btn-search-adv.collapsed, .c-btn.c-btn_style-2, body.search .c-search-header__wrapper .search-content .btn-search-adv, .genres_wrap a.btn-genres, .wpcf7-validation-errors, .text-ui-light.woocommerce-page input[type="text"]:focus, .text-ui-light.woocommerce-page input[type="email"]:focus, .text-ui-light.woocommerce-page input[type="search"]:focus, .text-ui-light.woocommerce-page input[type="url"]:focus, .text-ui-light.woocommerce-page input[type="password"]:focus, .text-ui-light.woocommerce-page input[type="tel"]:focus, .text-ui-light.woocommerce-page .input-text:focus, .text-ui-light.woocommerce-page input[type="text"]:active, .text-ui-light.woocommerce-page input[type="email"]:active, .text-ui-light.woocommerce-page input[type="search"]:active, .text-ui-light.woocommerce-page input[type="url"]:active, .text-ui-light.woocommerce-page input[type="password"]:active, .text-ui-light.woocommerce-page input[type="tel"]:active, .text-ui-light.woocommerce-page .input-text:active, .text-ui-light.woocommerce-page input[type="text"]:hover, .text-ui-light.woocommerce-page input[type="email"]:hover, .text-ui-light.woocommerce-page input[type="search"]:hover, .text-ui-light.woocommerce-page input[type="url"]:hover, .text-ui-light.woocommerce-page input[type="password"]:hover, .text-ui-light.woocommerce-page input[type="tel"]:hover, .text-ui-light.woocommerce-page .input-text:hover, .text-ui-light.woocommerce-page select.orderby:hover {
            border-color: #00d2ff;
        }

        .site-header .c-sub-header-nav .c-sub-nav_wrap .sub-nav_content .sub-nav_list > li.menu-item-has-children > ul.sub-menu, .site-header .c-sub-header-nav .c-sub-nav_wrap .c-modal_item .c-user_item .c-user_menu {
            border-bottom-color: #00d2ff;
        }

        .widget.widget_tag_cloud .tag-cloud-link:hover, body.page .c-page-content .c-page .c-page__content .page-content-listing .page-listing-item .page-item-detail .item-summary .list-chapter .chapter-item .chapter:hover, .popular-slider .slider__container .slider__item .slider__content .slider__content_item .chapter-item .chapter a:hover, .widget.c-popular .popular-item-wrap .popular-content .chapter-item .chapter:hover, .site-footer .top-footer .wrap_social_account ul.social_account__item li a, .site-content .main-col .item-tags ul li a:hover, .popular-slider .slider__container .slick-arrow:hover, .widget.background.widget_tag_cloud .tag-cloud-link:hover, .wp-pagenavi a:hover, body.search.search-results .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-meta .latest-chap .chapter:hover, .go-to-top:hover, .widget.c-popular .widget-view-more, body.search .c-search-header__wrapper .search-content .search-form .search-submit, body.reading-manga .entry-header .select-pagination .nav-links .nav-next a:not(:hover), body.reading-manga .c-select-bottom .select-pagination .nav-links .nav-next a:not(:hover), body.reading-manga .entry-header .entry-header_wrap .action-icon ul li:hover a, body.reading-manga .c-select-bottom .entry-header_wrap .action-icon ul li:hover a, .widget.c-released .released-search form [type="submit"], body.manga-page .profile-manga .tab-summary .loader-inner > div, .wpcf7-submit, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce .woocommerce-cart-form .cart button.button, .woocommerce .cart input.button:not(:hover), #adult_modal .modal-footer .btn.btn-primary:not(:hover), body.reading-manga .entry-header .select-pagination .nav-links > * a, body.reading-manga .c-select-bottom .select-pagination .nav-links > * a, .settings-page .list-chapter .chapter-item .chapter:hover, body.modal-open .modal .modal-content .modal-body .login .submit .wp-submit:not(:hover), .settings-page .tabs-content-wrap .my_account_orders a.button.view, .main-bg, #madara-comments.comments-area #respond.comment-respond .comment-form .form-submit #submit, body.search .c-search-header__wrapper .search-content .btn-search-adv {
            background-color: #00d2ff;
        }

        :root {
            --madara-main-color: #00d2ff
        }

        body.search.search-results .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-meta .latest-chap .chapter:hover a, .wp-pagenavi a:hover {
            color: #FFF !important
        }

        .item-thumb .quick-chapter-link {
            background: #00d2ff;
        }

        .page-content-listing.single-page li.wp-manga-chapter.unread a {
            color: #00d2ff
        }

        #pageloader.spinners {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: #222
        }

        p.madara-unyson {
            color: #FF0000;
        }

        .table.table-hover.list-bookmark tr:last-child td {
            text-align: center;
        }

        #adminmenu .wp-submenu li.current {
            display: none !important;
        }

        .show_tgmpa_version {
            float: right;
            padding: 0em 1.5em 0.5em 0;
        }

        .tgmpa > h2 {
            font-size: 23px;
            font-weight: 400;
            line-height: 29px;
            margin: 0;
            padding: 9px 15px 4px 0;
        }

        .update-php {
            width: 100%;
            height: 98%;
            min-height: 850px;
            padding-top: 1px;
        }

        .c-blog-post .entry-content .entry-content_wrap .read-container img.alignleft {
            margin: 10px 30px 10px 0 !important;
        }

        .c-blog-post .entry-content .entry-content_wrap .read-container img.alignright {
            margin: 10px 0px 10px 30px !important;
        }

        .read-container i.fas.fa-spinner.fa-spin {
            font-size: 31px;
            color: #888;
        }

        .c-blog-post .entry-content .entry-content_wrap .read-container img {
            cursor: pointer;
        }

        .choose-avatar .loading-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.72);
            z-index: 1;
            display: none;
        }

            .choose-avatar .loading-overlay i.fas.fa-spinner {
                font-size: 40px;
                color: #ec3348;
            }

            .choose-avatar .loading-overlay .loading-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

        .choose-avatar.uploading .loading-overlay {
            display: block;
        }

        .site-header .c-sub-header-nav .entry-header {
            display: none;
            margin-bottom: 15px;
        }

        .site-header .c-sub-header-nav.sticky .entry-header {
            display: block;
        }

        .site-header .c-sub-header-nav.hide-sticky-menu.sticky .c-sub-nav_wrap {
            display: none;
        }

        .site-header .c-sub-header-nav.hide-sticky-menu .entry-header {
            margin-top: 15px;
        }
    </style>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!--Admin css-->
    <meta property="og:type" content="article">
    <meta property="og:image" content="~/Asset/Web/wp-content/uploads/2017/10/wallhaven-550105-1200x630.jpg">
    <meta property="og:site_name" content="Madara Demo">
    <meta property="fb:app_id" content="">
    <meta property="og:title" content="Manga Text Chapter - Chapter 1 - Madara Demo">
    <meta property="og:url" content="~/Asset/Web/manga/manga-text-chapter/chapter-1/">
    <meta property="og:description" content="Manga Text Chapter. Chapter 1. A land where the strong makes the rules and weak has to obey. A land filled with alluring treasures and beauty yet also filled with unforeseen danger. Xikajio Yan, w">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Manga Text Chapter - Chapter 1 - Madara Demo">
    <meta name="twitter:description" content="Manga Text Chapter. Chapter 1. A land where the strong makes the rules and weak has to obey. A land filled with alluring treasures and beauty yet also filled with unforeseen danger. Xikajio Yan, w">
    <meta name="twitter:url" content="~/Asset/Web/manga/manga-text-chapter/chapter-1/">
    <meta name="twitter:image" content="~/Asset/Web/wp-content/uploads/2017/10/wallhaven-550105-1200x630.jpg">
    <meta name="description" content="Manga Text Chapter. Chapter 1. A land where the strong makes the rules and weak has to obey. A land filled with alluring treasures and beauty yet also filled with unforeseen danger. Xikajio Yan, w">
    <meta name="generator" content="Powered by Madara - A powerful multi-purpose theme by Madara">
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body class="wp-manga-template-default single single-wp-manga postid-395 wp-embed-responsive theme-madara wp-manga-page reading-manga click-to-scroll keyboard-navigate woocommerce-js page header-style-1 sticky-enabled sticky-style-1 is-sidebar text-ui-dark manga-reading-paged-style minimal-reading-layout">
    <div class="wrap">
        <div class="body-wrap">
            <div class="site-content">
                <div class="c-page-content style-1 reading-content-wrap chapter-type-manga" data-site-url="~/Asset/Web/">
                    <div class="content-area">
                        <div class="container">
                            <div class="row" id="noiDung">
                                <div class="main-col col-md-12 col-sm-12 sidebar-hidden">
                                    <h1 id="chapter-heading">@chuongTruyen.TenChuong</h1>
                                    <!-- container & no-sidebar-->
                                    <div class="main-col-inner">
                                        <div class="c-blog-post">
                                            <div class="entry-header header" id="manga-reading-nav-head" data-position="header" data-chapter="chapter-1" data-id="395">
                                                <div class="wp-manga-nav">
                                                    <div class="entry-header_wrap">

                                                        <div class="c-breadcrumb-wrapper">


                                                            <div class="c-breadcrumb">
                                                                <ol class="breadcrumb">
                                                                    <li>
                                                                        <a href="/">
                                                                            Home
                                                                        </a>
                                                                    </li>


                                                                    <li>
                                                                        <a href="@Url.Action("TomTat","Truyen",new {id=Commons.convertToUnSign3(chuongTruyen.Truyen.TenTruyen+"-"+chuongTruyen.Truyen.MaTruyen)})">
                                                                            @chuongTruyen.Truyen.TenTruyen
                                                                        </a>
                                                                    </li>

                                                                    <li class="active">
                                                                        @chuongTruyen.TenChuong
                                                                    </li>

                                                                </ol>
                                                            </div>

                                                            <div class="action-icon">
                                                                <ul class="action_list_icon list-inline">
                                                                    <li>
                                                                        <a href="#" class="wp-manga-action-button" data-action="bookmark" data-post="395" data-chapter="1607" data-page="1" title="Bookmark" id="YeuThich"><i class="icon ion-ios-heart" @Html.Raw(Auth.user().isThichChuong(chuongTruyen.MaTruyen,chuongTruyen.SoChuong) ? "style=\"color: red\" thich=\"1\"" : "")></i></a>
                                                                    </li>                                                                    
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div id="menu">
                                                        <div class="select-view">
                                                            <!-- select volume -->
                                                            <div class="c-selectpicker selectpicker_volume">
                                                                <label>
                                                                    <select class="selectpicker volume-select">
                                                                        @foreach (ChuongTruyen chuongTruyen1 in chuongTruyen.Truyen.ChuongTruyens.OrderBy(x=>x.SoChuong))
                                                                        {
                                                                            <option class="short2" data-limit="40" value="@chuongTruyen1.SoChuong" link="@Url.Action("Truyen","Truyen",new {id=Commons.convertToUnSign3(chuongTruyen.Truyen.TenTruyen+"-"+chuongTruyen.Truyen.MaTruyen),Chuong = (chuongTruyen1.SoChuong) })">
                                                                                Chương: @chuongTruyen1.SoChuong: @chuongTruyen1.TenChuong
                                                                            </option>
                                                                        }
                                                                    </select>
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="select-pagination" style="margin-right: 30px;">
                                                            <div class="nav-links">

                                                                <i class="mobile-nav-btn icon ion-md-menu"></i>
                                                                @if (chuongTruyen.SoChuong > 1)
                                                                {
                                                                    <div class="nav-previous ">

                                                                        <a href="@Url.Action("Truyen","Truyen",new {id=Commons.convertToUnSign3(chuongTruyen.Truyen.TenTruyen+"-"+chuongTruyen.Truyen.MaTruyen),Chuong = (chuongTruyen.SoChuong-1) })" class="btn prev_page" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=3&amp;style=paged&amp;action=chapter_navigate_page" title="Chapter 1">
                                                                            Prev
                                                                        </a>
                                                                    </div>
                                                                }
                                                                @if (chuongTruyen.SoChuong < chuongTruyen.Truyen.ChuongTruyens.OrderBy(x => x.SoChuong).Last().SoChuong)
                                                                {
                                                                    <div class="nav-next ">
                                                                        <a href="@Url.Action("Truyen","Truyen",new {id=Commons.convertToUnSign3(chuongTruyen.Truyen.TenTruyen+"-"+chuongTruyen.Truyen.MaTruyen),Chuong = (chuongTruyen.SoChuong+1) })" class="btn next_page" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=5&amp;style=paged&amp;action=chapter_navigate_page" data-order="" title="Chapter 1">
                                                                            Next
                                                                        </a>
                                                                    </div>
                                                                }


                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            @RenderBody()
                                            <div class="entry-header footer" id="manga-reading-nav-foot" data-position="footer" data-id="395">
                                                <div class="wp-manga-nav">
                                                    <div class="select-view">
                                                        <!-- select volume -->
                                                        <div class="c-selectpicker selectpicker_volume">
                                                            <label>
                                                                <select class="selectpicker volume-select">
                                                                    @foreach (ChuongTruyen chuongTruyen1 in chuongTruyen.Truyen.ChuongTruyens.OrderBy(x=>x.SoChuong))
                                                                    {
                                                                        <option class="short2" data-limit="40" value="@chuongTruyen1.SoChuong" link="@Url.Action("Truyen","Truyen",new {id=Commons.convertToUnSign3(chuongTruyen.Truyen.TenTruyen+"-"+chuongTruyen.Truyen.MaTruyen),Chuong = (chuongTruyen1.SoChuong) })">
                                                                            Chương: @chuongTruyen1.SoChuong: @chuongTruyen1.TenChuong
                                                                        </option>
                                                                    }
                                                                </select>
                                                            </label>
                                                        </div>

                                                        <!-- select chapter -->

                                                        <div class="chapters_selectbox_holder" data-manga="395" data-chapter="chapter-1" data-vol="101" data-type="manga" data-style="paged">
                                                            <!-- place holder -->
                                                        </div>

                                                    </div>

                                                    <div class="select-pagination">
                                                        <div class="nav-links">

                                                            <i class="mobile-nav-btn icon ion-md-menu"></i>

                                                            @if (chuongTruyen.SoChuong > 1)
                                                            {
                                                                <div class="nav-previous ">

                                                                    <a href="@Url.Action("Truyen","Truyen",new {id=Commons.convertToUnSign3(chuongTruyen.Truyen.TenTruyen+"-"+chuongTruyen.Truyen.MaTruyen),Chuong = (chuongTruyen.SoChuong-1) })" class="btn prev_page" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=3&amp;style=paged&amp;action=chapter_navigate_page" title="Chapter 1">
                                                                        Prev
                                                                    </a>
                                                                </div>
                                                            }
                                                            @if (chuongTruyen.SoChuong < chuongTruyen.Truyen.ChuongTruyens.OrderBy(x => x.SoChuong).Last().SoChuong)
                                                            {
                                                                <div class="nav-next ">
                                                                    <a href="@Url.Action("Truyen","Truyen",new {id=Commons.convertToUnSign3(chuongTruyen.Truyen.TenTruyen+"-"+chuongTruyen.Truyen.MaTruyen),Chuong = (chuongTruyen.SoChuong+1) })" class="btn next_page" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=5&amp;style=paged&amp;action=chapter_navigate_page" data-order="" title="Chapter 1">
                                                                        Next
                                                                    </a>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="row ">
                                            <div class="main-col col-12 col-sm-8 col-md-8 col-lg-8">
                                                <!-- comments-area -->
                                                <div id="manga-discussion" class="c-blog__heading style-2 font-heading">
                                                    <i class="ion-ios-star"></i>
                                                    <h4> BÌNH LUẬN ĐÁNH GIÁ </h4>
                                                </div>
                                                <div class="manga-discussion wrapper">
                                                    <div class="hr mv40"></div>
                                                    <div id="madara-comments" class="comments-area">
                                                        <div id="respond" class="comment-respond">
                                                            <h4 class="comment-reply-title"><span id="reply-title">HÃY VIẾT CẢM NHẬN CỦA BẠN</span> <small><a rel="nofollow" id="cancel-comment-reply-link" href="##" style="display:none;">Cancel reply</a></small></h4>
                                                            <form method="post" id="commentform" class="comment-form" novalidate="" onsubmit="return false">
                                                                <p class="comment-notes"><span id="email-notes"><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment"></textarea></span></p><p class="comment-form-author"></p>
                                                                <p class="form-submit">
                                                                    <input name="submit" type="submit" id="submit" onclick="guiBinhLuan()" class="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="449" id="comment_post_ID">
                                                                    <input type="hidden" id="comment_parent" value="-1">
                                                                </p>
                                                            </form>
                                                        </div><!-- #respond -->
                                                        <h4 class="comments-title">
                                                            @chuongTruyen.binhLuan().Count Comments
                                                        </h4>
                                                        <div id="comments">
                                                        </div>
                                                    </div><!-- #comments -->
                                                </div>
                                                <!-- END comments-area -->
                                            </div>

                                            <div class="sidebar-col col-md-4 col-sm-4">
                                                <div class="row">
                                                    <div id="manga-recent-13" class="widget col-12 col-md-12   bordered  no-icon heading-style-1 c-popular manga-widget widget-manga-recent">
                                                        <div class="widget__inner c-popular manga-widget widget-manga-recent__inner c-widget-wrap">
                                                            <div class="c-widget-content style-1 ">
                                                                <div class="widget-heading font-nav"><h5 class="heading">Truyện đã xem</h5></div><div class="widget-content">
                                                                @{ 
                                                                    List<vvTruyen> truyens = (from tr in db.vvTruyens
                                                                                                join lx in db.LuotXems
                                                                                                on tr.MaTruyen equals lx.MaTruyen
                                                                                                orderby lx.NgayXem descending
                                                                                                group tr by tr).Select(x => x.Key).ToList();
                                                                }
                                                                @foreach(vvTruyen truyen in truyens) { 
                                                                      <div class="popular-item-wrap">
                                                                        <div class="popular-img widget-thumbnail c-image-hover">
                                                                            <a title="@truyen.TenTruyen" href="@Url.Action("TomTat","Truyen",new {id =WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen+"-"+truyen.MaTruyen) })">
                                                                                <img width="75" height="106" src="@truyen.AnhBia">
                                                                            </a>
                                                                        </div>                                                                        
                                                                        <div class="popular-content">
                                                                            <h5 class="widget-title">
                                                                                <a title="@truyen.TenTruyen" href="@Url.Action("TomTat","Truyen",new {id =WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen+"-"+truyen.MaTruyen).ToLower() })">@truyen.TenTruyen</a>
                                                                            </h5>
                                                                            <div class="list-chapter">
                                                                                <div class="chapter-item ">
                                                                                    <span class="chapter font-meta">
                                                                                        <a href="@Url.Action("Truyen","Truyen",new {id=Commons.convertToUnSign3(truyen.TenTruyen+"-"+truyen.MaTruyen),Chuong = truyen.SoChuong1 })" class="btn-link"> @truyen.TenChuong1 </a>
                                                                                    </span>                                                                                    
                                                                                </div>
                                                                                <div class="chapter-item ">

                                                                                    <span class="chapter font-meta">
                                                                                        <a href="@Url.Action("Truyen","Truyen",new {id=Commons.convertToUnSign3(truyen.TenTruyen+"-"+truyen.MaTruyen),Chuong = truyen.SoChuong2 })" class="btn-link"> @truyen.TenChuong2</a>
                                                                                    </span>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>  
                                                                }    
                                                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- <div class="site-content"> -->
            <footer class="site-footer">
                <div class="ad c-ads custom-code footer-ads col-md-12"><img src="~/Asset/Web/wp-content/uploads/2017/10/ads-1.jpg" alt="Madara Ads Footer"></div>
                <div class="top-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="wrap_social_account">
                                    <ul class="list-inline social_account__item"><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Tumblr"><i class="fab fa-tumblr" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Pinterest"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Flickr"><i class="fab fa-flickr" aria-hidden="true"></i></a></li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-footer">
                    <div class="container">
                        <div class="row" id="rowNoiDung">
                            <div class="col-md-12">
                                <div class="nav-footer">
                                    <ul class="list-inline font-nav">
                                        <li id="menu-item-76" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76"><a href="/">HOME</a></li>
                                        <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-79"><a href="~/Asset/Web/blog/">BLOG</a></li>
                                        <li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="~/Asset/Web/contact/">CONTACT US</a></li>
                                        <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a href="~/Asset/Web/about-us/">ABOUT US</a></li>
                                        <li id="menu-item-80" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-80"><a href="#">COOKIE POLICY</a></li>
                                    </ul>
                                </div>
                                <div class="copyright">
                                    <p>© 2021 Madara Inc. All rights reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
            <div class="ad c-ads custom-code wall-ads-control wall-ads-left"><img src="~/Asset/Web/wp-content/uploads/2018/02/side-ad-01.jpg" alt="Madara Ads Wall Ads Left"></div><div class="ad c-ads custom-code wall-ads-control wall-ads-right"><img src="~/Asset/Web/wp-content/uploads/2018/02/side-ad-02.jpg" alt="Madara Ads Wall Ads Right"></div>
            <div id="hover-infor" style="display: none;"></div>

        </div> <!-- class="wrap" -->
    </div> <!-- class="body-wrap" -->
    <div class="go-to-top active">
        <i class="icon ion-md-arrow-up"></i>
    </div>
    <p id="a11y-speak-intro-text" class="a11y-speak-intro-text" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" hidden="hidden">Notifications</p><div id="a11y-speak-assertive" class="a11y-speak-region" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" aria-live="assertive" aria-relevant="additions text" aria-atomic="true"></div><div id="a11y-speak-polite" class="a11y-speak-region" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" aria-live="polite" aria-relevant="additions text" aria-atomic="true"></div>
    @Scripts.Render("~/Asset/Web/wp-includes/js")
    @RenderSection("js", required: false)
    <script src="~/Scripts/getAPI.js"></script>
    <script>
        //rowNoiDung,menu_fixe
        $(document).ready(function () {
            let position = $("#menu").offset()
            let width = $("#noiDung").width()
            $(".selectpicker.volume-select").val(soChuong)
            $("#menu").width(width)
            $(window).scroll(function (e) {
                console.log($(window).scrollTop())                                             
                if ((position.top + 10) <= $(window).scrollTop()) {
                    if (!$("#menu").hasClass("menu_fixe"))
                        $("#menu").addClass("menu_fixe")
                } else {
                    $("#menu").removeClass("menu_fixe")
                }
            })
            $(".selectpicker.volume-select").change(function () {
                window.location.href = $(this).find(":selected").attr("link")
            })
        })
        
    </script>
    <script src="~/Scripts/react/reactTomTatTruyen.js" type="text/babel"></script>
    <script>
        const maTruyen = @chuongTruyen.MaTruyen
        var soChuong = @chuongTruyen.SoChuong
        $(document).ready(function () {
            $("body").addClass("manga-page")
            $("#cancel-comment-reply-link").click(function () {
                $("#comment_parent").val(-1)
                $("#reply-title").text("HÃY VIẾT CẢM NHẬN CỦA BẠN")
                $("#cancel-comment-reply-link").hide()
            })
            $("#YeuThich").click(async function () {
                let isThich = $(this).find("i").attr("thich") != "1"
                let rs = await API.thichChuong(maTruyen, soChuong, isThich)
                if (rs) {
                    if (isThich) {
                        $(this).find("i").css("color", "red")
                        $(this).find("i").attr("thich", 1)
                    }
                    else {
                        $(this).find("i").css("color", "")
                        $(this).find("i").attr("thich", 0)
                    }

                }
            })
        })
        $(document).ready(async function () {
            BinhLuan = await API.layBinhLuan(maTruyen, soChuong)
            render()
        })
        async function guiBinhLuan() {
            debugger
            let noiDung = $("#comment").val()
            let phanHoi = parseInt($("#comment_parent").val())
            let rs = await API.vietBinhLuan(maTruyen, soChuong, noiDung, phanHoi);
            BinhLuan.push(rs)
            render()
            $("#comment").val("")
        }
    </script>
</body>
</html>
