
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layoutdoctruyen</title>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="profile" href="http://gmpg.org/xfn/11">
        <link rel="pingback" href="~/Asset/Web/xmlrpc.php">



        <title>Manga Text Chapter - Chapter 1 - Madara Demo</title>
        <meta name="robots" content="max-image-preview:large">
        <link rel="dns-prefetch" href="//s.w.org">
        <link rel="alternate" type="application/rss+xml" title="Madara Demo » Feed" href="~/Asset/Web/feed/">
        <link rel="alternate" type="application/rss+xml" title="Madara Demo » Comments Feed" href="~/Asset/Web/comments/feed/">
        <link rel="alternate" type="application/rss+xml" title="Madara Demo » Manga Text Chapter Comments Feed" href="~/Asset/Web/manga/manga-text-chapter/feed/">
        <script type="text/javascript">
            window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/live.mangabooth.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.2" } };
            !function (e, a, t) { var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d"); function s(e, t) { var a = String.fromCharCode; p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0); e = i.toDataURL(); return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL() } function c(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (o = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, r = 0; r < o.length; r++)t.supports[o[r]] = function (e) { if (!p || !p.fillText) return !1; switch (p.textBaseline = "top", p.font = "600 32px Arial", e) { case "flag": return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]); case "emoji": return !s([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212]) }return !1 }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji))) }(window, document, window._wpemojiSettings);
        </script>
        <script src="https://live.mangabooth.com/wp-includes/js/wp-emoji-release.min.js?ver=5.7.2" type="text/javascript" defer=""></script>
        <style type="text/css">
            img.wp-smiley,
            img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important;
            }
        </style>
        <link rel="stylesheet" id="wp-block-library-css" href="~/Asset/Web/wp-includes/css/dist/block-library/style.min.css?ver=5.7.2" type="text/css" media="all">
        <link rel="stylesheet" id="wp-block-library-theme-css" href="~/Asset/Web/wp-includes/css/dist/block-library/theme.min.css?ver=5.7.2" type="text/css" media="all">
        <link rel="stylesheet" id="wc-block-vendors-style-css" href="~/Asset/Web/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css?ver=4.9.1" type="text/css" media="all">
        <link rel="stylesheet" id="wc-block-style-css" href="~/Asset/Web/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=4.9.1" type="text/css" media="all">
        <link rel="stylesheet" id="ct-shortcode-css" href="~/Asset/Web/wp-content/plugins/madara-shortcodes/shortcodes/css/shortcodes.css?ver=5.7.2" type="text/css" media="all">
        <link rel="stylesheet" id="woocommerce-layout-css" href="~/Asset/Web/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=5.3.0" type="text/css" media="all">
        <link rel="stylesheet" id="woocommerce-smallscreen-css" href="~/Asset/Web/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=5.3.0" type="text/css" media="only screen and (max-width: 768px)">
        <link rel="stylesheet" id="woocommerce-general-css" href="~/Asset/Web/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=5.3.0" type="text/css" media="all">
        <style id="woocommerce-inline-inline-css" type="text/css">
            .woocommerce form .form-row .required {
                visibility: visible;
            }
        </style>
        <link rel="stylesheet" id="wp-pagenavi-css" href="~/Asset/Web/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70" type="text/css" media="all">
        <link rel="stylesheet" id="fontawesome-css" href="~/Asset/Web/wp-content/themes/madara/app/lib/fontawesome/web-fonts-with-css/css/all.min.css?ver=5.15.3" type="text/css" media="all">
        <link rel="stylesheet" id="ionicons-css" href="~/Asset/Web/wp-content/themes/madara/css/fonts/ionicons/css/ionicons.min.css?ver=4.5.10" type="text/css" media="all">
        <link rel="stylesheet" id="madara-icons-css" href="~/Asset/Web/wp-content/themes/madara/css/fonts/ct-icon/ct-icon.css?ver=5.7.2" type="text/css" media="all">
        <link rel="stylesheet" id="bootstrap-css" href="~/Asset/Web/wp-content/themes/madara/css/bootstrap.min.css?ver=4.3.1" type="text/css" media="all">
        <link rel="stylesheet" id="slick-css" href="~/Asset/Web/wp-content/themes/madara/js/slick/slick.css?ver=1.9.0" type="text/css" media="all">
        <link rel="stylesheet" id="slick-theme-css" href="~/Asset/Web/wp-content/themes/madara/js/slick/slick-theme.css?ver=5.7.2" type="text/css" media="all">
        <link rel="stylesheet" id="loaders-css" href="~/Asset/Web/wp-content/themes/madara/css/loaders.min.css?ver=5.7.2" type="text/css" media="all">
        <link rel="stylesheet" id="madara-css-css" href="~/Asset/Web/wp-content/themes/madara/style.css?ver=1.6.6" type="text/css" media="all">
        <style id="madara-css-inline-css" type="text/css">
            :root {
                --madara-main-color: #eb3349;
            }

            #pageloader.spinners {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 99999;
                background: #222
            }

            p.madara-unyson {
                color: #FF0000;
            }

            .table.table-hover.list-bookmark tr:last-child td {
                text-align: center;
            }

            #adminmenu .wp-submenu li.current {
                display: none !important;
            }

            .show_tgmpa_version {
                float: right;
                padding: 0em 1.5em 0.5em 0;
            }

            .tgmpa > h2 {
                font-size: 23px;
                font-weight: 400;
                line-height: 29px;
                margin: 0;
                padding: 9px 15px 4px 0;
            }

            .update-php {
                width: 100%;
                height: 98%;
                min-height: 850px;
                padding-top: 1px;
            }

            .c-blog-post .entry-content .entry-content_wrap .read-container img.alignleft {
                margin: 10px 30px 10px 0 !important;
            }

            .c-blog-post .entry-content .entry-content_wrap .read-container img.alignright {
                margin: 10px 0px 10px 30px !important;
            }

            .read-container i.fas.fa-spinner.fa-spin {
                font-size: 31px;
                color: #888;
            }

            .c-blog-post .entry-content .entry-content_wrap .read-container img {
                cursor: pointer;
            }

            .choose-avatar .loading-overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.72);
                z-index: 1;
                display: none;
            }

                .choose-avatar .loading-overlay i.fas.fa-spinner {
                    font-size: 40px;
                    color: #ec3348;
                }

                .choose-avatar .loading-overlay .loading-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

            .choose-avatar.uploading .loading-overlay {
                display: block;
            }

            .site-header .c-sub-header-nav .entry-header {
                display: none;
                margin-bottom: 15px;
            }

            .site-header .c-sub-header-nav.sticky .entry-header {
                display: block;
            }

            .site-header .c-sub-header-nav.hide-sticky-menu.sticky .c-sub-nav_wrap {
                display: none;
            }

            .site-header .c-sub-header-nav.hide-sticky-menu .entry-header {
                margin-top: 15px;
            }
        </style>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/jquery/jquery.min.js?ver=3.5.1" id="jquery-core-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2" id="jquery-migrate-js"></script>
        <link rel="https://api.w.org/" href="~/Asset/Web/wp-json/">
        <link rel="EditURI" type="application/rsd+xml" title="RSD" href="~/Asset/Web/xmlrpc.php?rsd">
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Asset/Web/wp-includes/wlwmanifest.xml">
        <meta name="generator" content="WordPress 5.7.2">
        <meta name="generator" content="WooCommerce 5.3.0">
        <link rel="canonical" href="~/Asset/Web/manga/manga-text-chapter/chapter-1/">
        <link rel="shortlink" href="~/Asset/Web/?p=454">
        <link rel="alternate" type="application/json+oembed" href="~/Asset/Web/wp-json/oembed/1.0/embed?url=https%3A%2F%2Flive.mangabooth.com%2Fmanga%2Fmanga-text-chapter%2F">
        <link rel="alternate" type="text/xml+oembed" href="~/Asset/Web/wp-json/oembed/1.0/embed?url=https%3A%2F%2Flive.mangabooth.com%2Fmanga%2Fmanga-text-chapter%2F&amp;format=xml">
        <noscript>
            <style>
                .woocommerce-product-gallery {
                    opacity: 1 !important;
                }
            </style>
        </noscript>
        <style id="madara-css-inline-css" type="text/css">
            .c-blog__heading.style-2 i {
                background: -webkit-linear-gradient(left, #00d2ff 40%,#3a7bd5);
                background: -o-linear-gradient(right, #00d2ff 40%,#3a7bd5);
                background: -moz-linear-gradient(right, #00d2ff 40%,#3a7bd5);
                background: linear-gradient(to right, #00d2ff 40%,#3a7bd5);
                ;
            }

                .c-blog__heading.style-2 i:after, .settings-page .nav-tabs-wrap ul.nav-tabs li.active:after {
                    border-left-color: #3a7bd5;
                }

            .site-header .main-navigation.style-1, .widget-heading, .widget.background:after, .c-blog__heading.style-2 i, .tab-wrap .c-nav-tabs ul.c-tabs-content li.active a:after, .tab-wrap .c-nav-tabs ul.c-tabs-content li:hover a:after, .tab-wrap .c-nav-tabs ul.c-tabs-content li a:after, .related-heading.font-nav, .c-blog__heading.style-3, .settings-page .nav-tabs-wrap ul.nav-tabs li.active a, .off-canvas {
                background: -webkit-linear-gradient(left, #00d2ff 40%,#3a7bd5);
                background: -o-linear-gradient(right, #00d2ff 40%,#3a7bd5);
                background: -moz-linear-gradient(right, #00d2ff 40%,#3a7bd5);
                background: linear-gradient(to right, #00d2ff 40%,#3a7bd5);
                ;
            }

                .widget-heading:after, .related-heading.font-nav:after, .genres_wrap .c-blog__heading.style-3.active:after {
                    border-top-color: #00d2ff;
                }

            body.modal-open .modal .modal-content a:hover, .tab-wrap .c-nav-tabs ul.c-tabs-content li.active a, .tab-wrap .c-nav-tabs ul.c-tabs-content li:hover a, body.search.search-results .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-summary .post-content .post-content_item .summary-content:not(.release-year) a:hover, body.search.search-results .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-summary .post-content .post-content_item .summary-content.release-year a:hover, .c-blog-post .entry-header .entry-meta .post-on:before, .manga-slider .slider__container .slick-dots li.slick-active button:before, .manga-slider .slider__container .slick-dots li button:hover:before, body.manga-page .profile-manga .tab-summary .summary_content_wrap .summary_content .post-status .manga-action .count-comment .action_icon a i, body.manga-page .profile-manga .tab-summary .summary_content_wrap .summary_content .post-status .manga-action .add-bookmark .action_icon a i, body.manga-page .profile-manga .tab-summary .summary_content_wrap .summary_content .post-status .manga-action .count-comment .action_detail a i, body.manga-page .profile-manga .tab-summary .summary_content_wrap .summary_content .post-status .manga-action .add-bookmark .action_detail a i, body.manga-page .profile-manga .post-title a, body.manga-page .content-readmore:hover, body.text-ui-light.manga-page .content-readmore:hover, .genres_wrap .genres__collapse .genres ul li a:hover, .genres_wrap .genres__collapse .genres ul li a:hover:before, .c-blog-post .entry-header .entry-meta .post-on .posted-on a:hover, body.search .c-search-header__wrapper #search-advanced .search-advanced-form .form-group.checkbox-group .checkbox label:hover, .site-header .main-navigation .search-navigation .menu-search .open-search-main-menu, .c-btn.c-btn_style-2, body.search .c-search-header__wrapper .search-content .btn-search-adv, body.reading-manga .entry-header .entry-header_wrap .action-icon ul li a, body.reading-manga .c-select-bottom .entry-header_wrap .action-icon ul li a, .widget.c-released .released-item-wrap ul.list-released li a:hover, body.manga-page .profile-manga .post-title h1, .genres_wrap .genres__collapse #genres ul li:hover a, .genres_wrap .genres__collapse #genres ul li:hover a:before, input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before, .genres_wrap a.btn-genres, .c-breadcrumb .breadcrumb li a:hover, body.search.search-results .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-summary .post-content .post-content_item.mg_genres .summary-content, body.page .c-page-content .c-page .c-page__content .page-content-listing .page-listing-item .page-item-detail .item-summary .list-chapter .chapter-item .vol a:hover, #hover-infor .item_thumb .post-title a, body.manga-page .version-chap:before, body.manga-page .content-readmore:hover, body.manga-page .chapter-readmore:hover, .icon-load-info, .c-blog-post .entry-header .entry-meta .post-on .c-blog__date .post-category a:hover, .woocommerce ul.products li.product .price, .woocommerce div.entry-summary p.price, .woocommerce div.entry-summary form.cart .variations .label, .woocommerce div.entry-summary form.cart .quantity-text, .widget_product_categories .product-categories li a:hover, .woocommerce ul.products li.product h2:hover, .woocommerce .c-woo-breadcrumb a:hover, .site-header .c-sub-header-nav .c-sub-nav_wrap .c-modal_item .c-user_item .c-user_menu a:hover, .site-header .c-sub-header-nav .c-sub-nav_wrap .sub-nav_content .sub-nav_list li:hover > a, .settings-page .action i.ion-ios-close:hover:before, .settings-page .list-chapter .chapter-item a:hover, .settings-page .tabs-content-wrap .tab-group-item .tab-item .history-content .item-infor .chapter span a, .settings-page .nav-tabs-wrap ul.nav-tabs li:not(.active):hover a, .main-color,
            .site-header .c-sub-header-nav .c-sub-nav_wrap .sub-nav_content .sub-nav_list li.menu-item-has-children.active > a, .woocommerce .woocommerce-ordering:after, .text-ui-light .widget.c-popular .popular-item-wrap .popular-content .chapter-item .chapter a:hover, body.text-ui-light .settings-page .list-chapter .chapter-item .chapter a:hover, body.search.text-ui-light .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-meta .latest-chap .chapter a:hover {
                color: #00d2ff;
            }

            .c-blog__heading.style-2 i:after {
                border-right-color: #00d2ff !important
            }

            body.page.text-ui-light .c-page-content .c-page .c-page__content .page-content-listing .page-listing-item .page-item-detail .item-summary .list-chapter .chapter-item .chapter a:hover, .text-ui-light .widget.c-popular .popular-item-wrap .popular-content .chapter-item .chapter a:hover, #hover-infor .item_thumb .post-title a {
                color: #FFFFFF
            }

            .navigation-ajax .load-ajax:not(.show-loading):hover, .listing-chapters_wrap .has-child .wp-manga-chapter:before, .c-wg-button-wrap .btn:hover, body.manga-page .page-content-listing.single-page .listing-chapters_wrap ul.main.version-chap .wp-manga-chapter:before, .site-header .search-main-menu form input[type=submit], .form-submit input[type=submit], #comments.comments-area #respond.comment-respond .comment-form .form-submit #submit, .c-btn.c-btn_style-1, .settings-page input[type="submit"], .settings-page .remove-all #delete-bookmark-manga, body.manga-page .page-content-listing.single-page .listing-chapters_wrap > ul.main.version-chap li .wp-manga-chapter:before, .woocommerce ul.products li.product .button, .woocommerce span.onsale, .woocommerce .widget_price_filter .price_slider_amount .button:not(:hover), .woocommerce .woocommerce-pagination .page-numbers li span.current, .woocommerce .woocommerce-pagination .page-numbers li .prev:hover, .woocommerce .woocommerce-pagination .page-numbers li .next:hover, .woocommerce div.entry-summary form.cart .single_add_to_cart_button {
                background: #00d2ff;
            }

            .navigation-ajax .load-ajax:not(.show-loading):hover, .popular-slider .slider__container .slider__item .slider__content .slider__content_item .chapter-item .chapter a:hover, body.search .c-search-header__wrapper .search-content .btn-search-adv.collapsed, .c-btn.c-btn_style-2, body.search .c-search-header__wrapper .search-content .btn-search-adv, .genres_wrap a.btn-genres, .wpcf7-validation-errors, .text-ui-light.woocommerce-page input[type="text"]:focus, .text-ui-light.woocommerce-page input[type="email"]:focus, .text-ui-light.woocommerce-page input[type="search"]:focus, .text-ui-light.woocommerce-page input[type="url"]:focus, .text-ui-light.woocommerce-page input[type="password"]:focus, .text-ui-light.woocommerce-page input[type="tel"]:focus, .text-ui-light.woocommerce-page .input-text:focus, .text-ui-light.woocommerce-page input[type="text"]:active, .text-ui-light.woocommerce-page input[type="email"]:active, .text-ui-light.woocommerce-page input[type="search"]:active, .text-ui-light.woocommerce-page input[type="url"]:active, .text-ui-light.woocommerce-page input[type="password"]:active, .text-ui-light.woocommerce-page input[type="tel"]:active, .text-ui-light.woocommerce-page .input-text:active, .text-ui-light.woocommerce-page input[type="text"]:hover, .text-ui-light.woocommerce-page input[type="email"]:hover, .text-ui-light.woocommerce-page input[type="search"]:hover, .text-ui-light.woocommerce-page input[type="url"]:hover, .text-ui-light.woocommerce-page input[type="password"]:hover, .text-ui-light.woocommerce-page input[type="tel"]:hover, .text-ui-light.woocommerce-page .input-text:hover, .text-ui-light.woocommerce-page select.orderby:hover {
                border-color: #00d2ff;
            }

            .site-header .c-sub-header-nav .c-sub-nav_wrap .sub-nav_content .sub-nav_list > li.menu-item-has-children > ul.sub-menu, .site-header .c-sub-header-nav .c-sub-nav_wrap .c-modal_item .c-user_item .c-user_menu {
                border-bottom-color: #00d2ff;
            }

            .widget.widget_tag_cloud .tag-cloud-link:hover, body.page .c-page-content .c-page .c-page__content .page-content-listing .page-listing-item .page-item-detail .item-summary .list-chapter .chapter-item .chapter:hover, .popular-slider .slider__container .slider__item .slider__content .slider__content_item .chapter-item .chapter a:hover, .widget.c-popular .popular-item-wrap .popular-content .chapter-item .chapter:hover, .site-footer .top-footer .wrap_social_account ul.social_account__item li a, .site-content .main-col .item-tags ul li a:hover, .popular-slider .slider__container .slick-arrow:hover, .widget.background.widget_tag_cloud .tag-cloud-link:hover, .wp-pagenavi a:hover, body.search.search-results .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-meta .latest-chap .chapter:hover, .go-to-top:hover, .widget.c-popular .widget-view-more, body.search .c-search-header__wrapper .search-content .search-form .search-submit, body.reading-manga .entry-header .select-pagination .nav-links .nav-next a:not(:hover), body.reading-manga .c-select-bottom .select-pagination .nav-links .nav-next a:not(:hover), body.reading-manga .entry-header .entry-header_wrap .action-icon ul li:hover a, body.reading-manga .c-select-bottom .entry-header_wrap .action-icon ul li:hover a, .widget.c-released .released-search form [type="submit"], body.manga-page .profile-manga .tab-summary .loader-inner > div, .wpcf7-submit, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce .woocommerce-cart-form .cart button.button, .woocommerce .cart input.button:not(:hover), #adult_modal .modal-footer .btn.btn-primary:not(:hover), body.reading-manga .entry-header .select-pagination .nav-links > * a, body.reading-manga .c-select-bottom .select-pagination .nav-links > * a, .settings-page .list-chapter .chapter-item .chapter:hover, body.modal-open .modal .modal-content .modal-body .login .submit .wp-submit:not(:hover), .settings-page .tabs-content-wrap .my_account_orders a.button.view, .main-bg, #madara-comments.comments-area #respond.comment-respond .comment-form .form-submit #submit, body.search .c-search-header__wrapper .search-content .btn-search-adv {
                background-color: #00d2ff;
            }

            :root {
                --madara-main-color: #00d2ff
            }

            body.search.search-results .search-wrap .tab-content-wrap .c-tabs-item .c-tabs-item__content .tab-meta .latest-chap .chapter:hover a, .wp-pagenavi a:hover {
                color: #FFF !important
            }

            .item-thumb .quick-chapter-link {
                background: #00d2ff;
            }

            .page-content-listing.single-page li.wp-manga-chapter.unread a {
                color: #00d2ff
            }

            #pageloader.spinners {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 99999;
                background: #222
            }

            p.madara-unyson {
                color: #FF0000;
            }

            .table.table-hover.list-bookmark tr:last-child td {
                text-align: center;
            }

            #adminmenu .wp-submenu li.current {
                display: none !important;
            }

            .show_tgmpa_version {
                float: right;
                padding: 0em 1.5em 0.5em 0;
            }

            .tgmpa > h2 {
                font-size: 23px;
                font-weight: 400;
                line-height: 29px;
                margin: 0;
                padding: 9px 15px 4px 0;
            }

            .update-php {
                width: 100%;
                height: 98%;
                min-height: 850px;
                padding-top: 1px;
            }

            .c-blog-post .entry-content .entry-content_wrap .read-container img.alignleft {
                margin: 10px 30px 10px 0 !important;
            }

            .c-blog-post .entry-content .entry-content_wrap .read-container img.alignright {
                margin: 10px 0px 10px 30px !important;
            }

            .read-container i.fas.fa-spinner.fa-spin {
                font-size: 31px;
                color: #888;
            }

            .c-blog-post .entry-content .entry-content_wrap .read-container img {
                cursor: pointer;
            }

            .choose-avatar .loading-overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.72);
                z-index: 1;
                display: none;
            }

                .choose-avatar .loading-overlay i.fas.fa-spinner {
                    font-size: 40px;
                    color: #ec3348;
                }

                .choose-avatar .loading-overlay .loading-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

            .choose-avatar.uploading .loading-overlay {
                display: block;
            }

            .site-header .c-sub-header-nav .entry-header {
                display: none;
                margin-bottom: 15px;
            }

            .site-header .c-sub-header-nav.sticky .entry-header {
                display: block;
            }

            .site-header .c-sub-header-nav.hide-sticky-menu.sticky .c-sub-nav_wrap {
                display: none;
            }

            .site-header .c-sub-header-nav.hide-sticky-menu .entry-header {
                margin-top: 15px;
            }
        </style>
        @*<script type="application/ld+json">
                        {
                            "@context": "http://schema.org",
                            "@type": "Article",
                            "mainEntityOfPage": {
                                "@type": "WebPage",
                                "@id": "https://google.com/article"
                            },
                            "headline": "Manga Text Chapter",
                            "image": {
                                "@type": "ImageObject",
                                "url": "~/Asset/Web/wp-content/uploads/2017/10/wallhaven-550105.jpg",
                                "height": 391,
                                "width": 696							},
                            "datePublished": "2018-01-11 09:55:28",
                            "dateModified": "2018-01-12 09:45:33",
                            "author": {
                                "@type": "Person",
                                "name": ""
                            },
                            "publisher": {
                                "@type": "Organization",
                                "name": "Madara Demo",
                                "logo": {
                                    "@type": "ImageObject",
                                    "url": "~/Asset/Web/wp-content/themes/madara/images/logo.png"
                                }
                            },
                            "description": "Manga Text Chapter. Chapter 1. A land where the strong makes the rules and weak has to obey. A land filled with alluring treasures and beauty yet also filled with unforeseen danger. Xikajio Yan, w"
                        }
        </script>*@
        <meta property="og:type" content="article">
        <meta property="og:image" content="~/Asset/Web/wp-content/uploads/2017/10/wallhaven-550105-1200x630.jpg">
        <meta property="og:site_name" content="Madara Demo">
        <meta property="fb:app_id" content="">
        <meta property="og:title" content="Manga Text Chapter - Chapter 1 - Madara Demo">
        <meta property="og:url" content="~/Asset/Web/manga/manga-text-chapter/chapter-1/">
        <meta property="og:description" content="Manga Text Chapter. Chapter 1. A land where the strong makes the rules and weak has to obey. A land filled with alluring treasures and beauty yet also filled with unforeseen danger. Xikajio Yan, w">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta name="twitter:title" content="Manga Text Chapter - Chapter 1 - Madara Demo">
        <meta name="twitter:description" content="Manga Text Chapter. Chapter 1. A land where the strong makes the rules and weak has to obey. A land filled with alluring treasures and beauty yet also filled with unforeseen danger. Xikajio Yan, w">
        <meta name="twitter:url" content="~/Asset/Web/manga/manga-text-chapter/chapter-1/">
        <meta name="twitter:image" content="~/Asset/Web/wp-content/uploads/2017/10/wallhaven-550105-1200x630.jpg">
        <meta name="description" content="Manga Text Chapter. Chapter 1. A land where the strong makes the rules and weak has to obey. A land filled with alluring treasures and beauty yet also filled with unforeseen danger. Xikajio Yan, w">
        <meta name="generator" content="Powered by Madara - A powerful multi-purpose theme by Madara">
    </head>
</head>
<body>
    <body class="wp-manga-template-default single single-wp-manga postid-395 wp-embed-responsive theme-madara wp-manga-page reading-manga click-to-scroll keyboard-navigate woocommerce-js page header-style-1 sticky-enabled sticky-style-1 is-sidebar text-ui-dark manga-reading-paged-style minimal-reading-layout">



        <div class="wrap">
            <div class="body-wrap">
                <div class="site-content">
                    <div class="c-page-content style-1 reading-content-wrap chapter-type-manga" data-site-url="~/Asset/Web/">
                        <div class="content-area">
                            <div class="container">
                                <div class="row">
                                    <div class="main-col col-md-12 col-sm-12 sidebar-hidden">
                                        <h1 id="chapter-heading">Kahana no Shou - Chapter 1</h1>

                                        <!-- container & no-sidebar-->
                                        <div class="main-col-inner">
                                            <div class="c-blog-post">
                                                <div class="entry-header header" id="manga-reading-nav-head" data-position="header" data-chapter="chapter-1" data-id="395">
                                                    <div class="wp-manga-nav">
                                                        <div class="entry-header_wrap">

                                                            <div class="c-breadcrumb-wrapper">


                                                                <div class="c-breadcrumb">
                                                                    <ol class="breadcrumb">
                                                                        <li>
                                                                            <a href="~/Asset/Web/">
                                                                                Home
                                                                            </a>
                                                                        </li>


                                                                        <li>
                                                                            <a href="~/Asset/Web/manga/kahana-no-shou/">
                                                                                Kahana no Shou
                                                                            </a>
                                                                        </li>

                                                                        <li class="active">
                                                                            Chapter 1
                                                                        </li>

                                                                    </ol>
                                                                </div>

                                                                <div class="action-icon">
                                                                    <ul class="action_list_icon list-inline">
                                                                        <li>
                                                                            <script type="text/javascript">var requireLogin2BookMark = true;</script><a href="#" class="wp-manga-action-button" data-action="bookmark" data-post="395" data-chapter="1607" data-page="1" title="Bookmark"><i class="icon ion-ios-bookmark"></i></a>
                                                                        </li>
                                                                        <li><a href="#" class="wp-manga-action-button" data-action="toggle-contrast" title="Toggle Dark/Light Mode"><i class="icon ion-md-contrast"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="select-view">

                                                            <!-- select host -->
                                                            <div class="c-selectpicker selectpicker_version">
                                                                <label>
                                                                    <select class="selectpicker host-select">
                                                                        <option class="short" data-limit="40" value="amazon" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/?host=amazon">Server 1</option>
                                                                        <option class="short" data-limit="40" value="imgur" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/?host=imgur">Server 2</option>
                                                                        <option class="short" data-limit="40" value="local" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/?host=local" selected="selected">Server 3</option>
                                                                        <option class="short" data-limit="40" value="picasa" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/?host=picasa">Server 4</option>
                                                                    </select>
                                                                </label>
                                                            </div>

                                                            <!-- select volume -->
                                                            <div class="c-selectpicker selectpicker_volume">
                                                                <label>
                                                                    <select class="selectpicker volume-select">
                                                                        <option class="short" data-limit="40" value="101" selected="selected">Volume 1...</option>
                                                                    </select>
                                                                </label>
                                                            </div>

                                                            <!-- select chapter -->

                                                            <div class="chapters_selectbox_holder" data-manga="395" data-chapter="chapter-1" data-vol="101" data-type="manga" data-style="paged">
                                                                <!-- place holder -->
                                                                <div class="c-selectpicker selectpicker_chapter" for="volume-id-101">
                                                                    <label>
                                                                        <select class="selectpicker single-chapter-select">
                                                                            <option class="short " data-limit="40" value="chapter-6" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-6/" data-navigation="postID=395&amp;chapter=chapter-6&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                                Chapter 6
                                                                            </option>
                                                                            <option class="short " data-limit="40" value="chapter-5" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-5/" data-navigation="postID=395&amp;chapter=chapter-5&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                                Chapter 5
                                                                            </option>
                                                                            <option class="short " data-limit="40" value="chapter-4" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-4/" data-navigation="postID=395&amp;chapter=chapter-4&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                                Chapter 4
                                                                            </option>
                                                                            <option class="short " data-limit="40" value="chapter-3" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-3/" data-navigation="postID=395&amp;chapter=chapter-3&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                                Chapter 3
                                                                            </option>
                                                                            <option class="short " data-limit="40" value="chapter-2" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-2/" data-navigation="postID=395&amp;chapter=chapter-2&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                                Chapter 2
                                                                            </option>
                                                                            <option class="short " data-limit="40" value="chapter-1" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page" selected="selected">
                                                                                Chapter 1
                                                                            </option>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="select-pagination">
                                                            <div class="c-selectpicker selectpicker_page">
                                                                <label>

                                                                    <select id="single-pager" class="selectpicker">

                                                                        <option value="1" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/1/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            1/7
                                                                        </option>

                                                                        <option value="2" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/2/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=2&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            2/7
                                                                        </option>

                                                                        <option value="3" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/3/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=3&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            3/7
                                                                        </option>

                                                                        <option value="4" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/4/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=4&amp;style=paged&amp;action=chapter_navigate_page" selected="selected">
                                                                            4/7
                                                                        </option>

                                                                        <option value="5" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/5/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=5&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            5/7
                                                                        </option>

                                                                        <option value="6" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/6/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=6&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            6/7
                                                                        </option>

                                                                        <option value="7" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/7/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=7&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            7/7
                                                                        </option>
                                                                    </select>

                                                                </label>
                                                            </div>
                                                            <div class="nav-links">

                                                                <i class="mobile-nav-btn icon ion-md-menu"></i>

                                                                <div class="nav-previous ">
                                                                    <a href="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/3/" class="btn prev_page" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=3&amp;style=paged&amp;action=chapter_navigate_page" title="Chapter 1">
                                                                        Prev
                                                                    </a>
                                                                </div>

                                                                <div class="nav-next ">
                                                                    <a href="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/5/" class="btn next_page" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=5&amp;style=paged&amp;action=chapter_navigate_page" data-order="" title="Chapter 1">
                                                                        Next
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                @RenderBody()
                                                <div class="entry-header footer" id="manga-reading-nav-foot" data-position="footer" data-id="395">
                                                    <div class="wp-manga-nav">
                                                        <div class="select-view">

                                                            <!-- select host -->
                                                            <div class="c-selectpicker selectpicker_version">
                                                                <label>
                                                                    <select class="selectpicker host-select">
                                                                        <option class="short" data-limit="40" value="amazon" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/?host=amazon">Server 1</option>
                                                                        <option class="short" data-limit="40" value="imgur" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/?host=imgur">Server 2</option>
                                                                        <option class="short" data-limit="40" value="local" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/?host=local" selected="selected">Server 3</option>
                                                                        <option class="short" data-limit="40" value="picasa" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/?host=picasa">Server 4</option>
                                                                    </select>
                                                                </label>
                                                            </div>

                                                            <!-- select volume -->
                                                            <div class="c-selectpicker selectpicker_volume">
                                                                <label>
                                                                    <select class="selectpicker volume-select">
                                                                        <option class="short" data-limit="40" value="101" selected="selected">Volume 1...</option>
                                                                    </select>
                                                                </label>
                                                            </div>

                                                            <!-- select chapter -->

                                                            <div class="chapters_selectbox_holder" data-manga="395" data-chapter="chapter-1" data-vol="101" data-type="manga" data-style="paged">
                                                                <!-- place holder -->
                                                                <div class="c-selectpicker selectpicker_chapter" for="volume-id-101">
                                                                    <label>
                                                                        <select class="selectpicker single-chapter-select">
                                                                            <option class="short " data-limit="40" value="chapter-6" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-6/" data-navigation="postID=395&amp;chapter=chapter-6&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                                Chapter 6
                                                                            </option>
                                                                            <option class="short " data-limit="40" value="chapter-5" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-5/" data-navigation="postID=395&amp;chapter=chapter-5&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                                Chapter 5
                                                                            </option>
                                                                            <option class="short " data-limit="40" value="chapter-4" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-4/" data-navigation="postID=395&amp;chapter=chapter-4&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                                Chapter 4
                                                                            </option>
                                                                            <option class="short " data-limit="40" value="chapter-3" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-3/" data-navigation="postID=395&amp;chapter=chapter-3&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                                Chapter 3
                                                                            </option>
                                                                            <option class="short " data-limit="40" value="chapter-2" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-2/" data-navigation="postID=395&amp;chapter=chapter-2&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                                Chapter 2
                                                                            </option>
                                                                            <option class="short " data-limit="40" value="chapter-1" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page" selected="selected">
                                                                                Chapter 1
                                                                            </option>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="select-pagination">
                                                            <div class="c-selectpicker selectpicker_page">
                                                                <label>

                                                                    <select id="single-pager" class="selectpicker">

                                                                        <option value="1" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/1/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=1&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            1/7
                                                                        </option>

                                                                        <option value="2" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/2/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=2&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            2/7
                                                                        </option>

                                                                        <option value="3" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/3/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=3&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            3/7
                                                                        </option>

                                                                        <option value="4" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/4/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=4&amp;style=paged&amp;action=chapter_navigate_page" selected="selected">
                                                                            4/7
                                                                        </option>

                                                                        <option value="5" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/5/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=5&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            5/7
                                                                        </option>

                                                                        <option value="6" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/6/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=6&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            6/7
                                                                        </option>

                                                                        <option value="7" data-redirect="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/7/" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=7&amp;style=paged&amp;action=chapter_navigate_page">
                                                                            7/7
                                                                        </option>
                                                                    </select>

                                                                </label>
                                                            </div>
                                                            <div class="nav-links">

                                                                <i class="mobile-nav-btn icon ion-md-menu"></i>

                                                                <div class="nav-previous ">
                                                                    <a href="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/3/" class="btn prev_page" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=3&amp;style=paged&amp;action=chapter_navigate_page" title="Chapter 1">
                                                                        Prev
                                                                    </a>
                                                                </div>

                                                                <div class="nav-next ">
                                                                    <a href="~/Asset/Web/manga/kahana-no-shou/volume-1/chapter-1/p/5/" class="btn next_page" data-navigation="postID=395&amp;chapter=chapter-1&amp;manga-paged=5&amp;style=paged&amp;action=chapter_navigate_page" data-order="" title="Chapter 1">
                                                                        Next
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="row ">
                                                <div class="main-col col-12 col-sm-8 col-md-8 col-lg-8">
                                                    <!-- comments-area -->

                                                    <h4>Comments for chapter "Chapter 1"</h4>
                                                    <div id="manga-discussion" class="c-blog__heading style-2 font-heading">
                                                        <i class="ion-ios-star"></i>
                                                        <h4> MANGA DISCUSSION </h4>

                                                    </div>
                                                    <div class="manga-discussion wrapper">

                                                        <div class="hr mv40"></div>

                                                        <div id="madara-comments" class="comments-area">


                                                            <div id="respond" class="comment-respond">
                                                                <h4 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/manga/kahana-no-shou/volume-1/chapter-1/p/4/#respond" style="display:none;">Cancel reply</a></small></h4><form action="~/Asset/Web/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
                                                                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><p class="comment-form-comment"><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment"></textarea></p><p class="comment-form-author"><label for="author">Name</label> <span class="required">*</span><input id="author" name="author" type="text" placeholder="Name" value="" size="30" aria-required="true"></p>
                                                                    <p class="comment-form-email"><label for="email">Email</label> <span class="required">*</span><input id="email" name="email" type="text" placeholder="Email" value="" size="30" aria-required="true"></p>
                                                                    <p class="comment-form-url"><label for="url">Website</label><input id="url" name="url" type="text" placeholder="Website" value="" size="30"></p>
                                                                    <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
                                                                    <p class="form-submit">
                                                                        <input name="submit" type="submit" id="submit" class="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="395" id="comment_post_ID">
                                                                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                                                    </p>                <input type="hidden" name="wp_manga_chapter_id" value="1607">
                                                                </form>
                                                            </div><!-- #respond -->




                                                        </div><!-- #comments -->
                                                    </div>

                                                    <!-- END comments-area -->
                                                </div>

                                                <div class="sidebar-col col-md-4 col-sm-4">
                                                    <div id="main-sidebar" class="main-sidebar" role="complementary">
                                                        <div class="row">
                                                            <div id="manga-history-id-4" class="widget col-xs-12 col-md-12   background  no-icon heading-style-1 manga-history-widget">
                                                                <div class="widget__inner manga-history-widget__inner c-widget-wrap">
                                                                    <div class="widget-heading font-nav"><h5 class="heading">MY READING HISTORY</h5></div><div class="widget-content">
                                                                        <div class="my-history">
                                                                            <!-- -->
                                                                            <span class="no-histories" style="display:none">You don't have anything in histories</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <script type="text/javascript">
                                                            jQuery(document).on('ready', function () {
                                                                jQuery.ajax({
                                                                    url: manga.ajax_url,
                                                                    type: 'GET',
                                                                    data: {
                                                                        action: 'guest_histories',
                                                                        count: 3
                                                                    },
                                                                    success: function (html) {
                                                                        if (html && html != "0") {
                                                                            jQuery('#manga-history-id-4 .my-history').html(html);
                                                                        } else {
                                                                            jQuery('#manga-history-id-4 .no-histories').show();
                                                                        }
                                                                    },
                                                                    complete: function (e) {

                                                                    }
                                                                });
                                                            });
                                                        </script>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- <div class="site-content"> -->




                <footer class="site-footer">

                    <div class="ad c-ads custom-code footer-ads col-md-12"><img src="~/Asset/Web/wp-content/uploads/2017/10/ads-1.jpg" alt="Madara Ads Footer"></div>
                    <div class="top-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wrap_social_account">
                                        <ul class="list-inline social_account__item"><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Tumblr"><i class="fab fa-tumblr" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Pinterest"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a></li><li><a class="social-icons" target="_blank" rel="noopener" href="#" title="Flickr"><i class="fab fa-flickr" aria-hidden="true"></i></a></li></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="bottom-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="nav-footer">
                                        <ul class="list-inline font-nav">
                                            <li id="menu-item-76" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76"><a href="/">HOME</a></li>
                                            <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-79"><a href="~/Asset/Web/blog/">BLOG</a></li>
                                            <li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="~/Asset/Web/contact/">CONTACT US</a></li>
                                            <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a href="~/Asset/Web/about-us/">ABOUT US</a></li>
                                            <li id="menu-item-80" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-80"><a href="#">COOKIE POLICY</a></li>
                                        </ul>
                                    </div>
                                    <div class="copyright">
                                        <p>© 2021 Madara Inc. All rights reserved</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </footer>
                <div class="ad c-ads custom-code wall-ads-control wall-ads-left"><img src="~/Asset/Web/wp-content/uploads/2018/02/side-ad-01.jpg" alt="Madara Ads Wall Ads Left"></div><div class="ad c-ads custom-code wall-ads-control wall-ads-right"><img src="~/Asset/Web/wp-content/uploads/2018/02/side-ad-02.jpg" alt="Madara Ads Wall Ads Right"></div>
                <div id="hover-infor" style="display: none;"></div>

            </div> <!-- class="wrap" -->
        </div> <!-- class="body-wrap" -->
        <!-- Modal -->
        <div class="wp-manga-section">
            <input type="hidden" name="bookmarking" value="0">
            <div class="modal fade" id="form-login" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="login" class="login">
                                <h3>
                                    <a href="~/Asset/Web/" title="Madara Demo" tabindex="-1">Sign in</a>
                                </h3>
                                <p class="message login"></p>
                                <meta name="robots" content="max-image-preview:large">
                                <link rel="dns-prefetch" href="//s.w.org">
                                <script type="text/javascript" src="~/Asset/Web/wp-includes/js/wp-embed.min.js?ver=5.7.2" id="wp-embed-js"></script>
                                <form name="loginform" id="loginform" method="post">
                                    <p>
                                        <label>
                                            Username or Email Address *                                    <br> <input type="text" name="log" class="input user_login" value="" size="20">
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            Password *                                    <br> <input type="password" autocomplete="" name="pwd" class="input user_pass" value="" size="20">
                                        </label>
                                    </p>
                                    <p>
                                    </p>
                                    <p class="forgetmenot">
                                        <label>
                                            <input name="rememberme" type="checkbox" id="rememberme" value="forever">Remember Me
                                        </label>
                                    </p>
                                    <p class="submit">
                                        <input type="submit" name="wp-submit" class="button button-primary button-large wp-submit" value="Log In">                                <input type="hidden" name="redirect_to" value="~/Asset/Web/wp-admin/">
                                        <input type="hidden" name="testcookie" value="1">
                                    </p>
                                </form>
                                <p class="nav">
                                    <a href="javascript:avoid(0)" class="to-reset">Lost your password?</a>
                                </p>
                                <p class="backtoblog">
                                    <a href="javascript:void(0)">← Back to Madara Demo</a>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="form-sign-up" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="sign-up" class="login">
                                <h3>
                                    <a href="~/Asset/Web/" title="Madara Demo" tabindex="-1">Sign Up</a>
                                </h3>
                                <p class="message register">Register For This Site.</p>
                                <form name="registerform" id="registerform" novalidate="novalidate">
                                    <p>
                                        <label>
                                            Username *                                    <br>
                                            <input type="text" name="user_sign-up" class="input user_login" value="" size="20">
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            Email Address *                                    <br>
                                            <input type="email" name="email_sign-up" class="input user_email" value="" size="20">
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            Password *<br>
                                            <input type="password" name="pass_sign-up" autocomplete="" class="input user_pass" value="" size="25">
                                        </label>
                                    </p>
                                    <p>
                                    </p>

                                    <input type="hidden" name="redirect_to" value="">
                                    <p class="submit">
                                        <input type="submit" name="wp-submit" class="button button-primary button-large wp-submit" value="Register">
                                    </p>
                                </form>
                                <p class="nav">
                                    <a href="javascript:void(0)" class="to-login">Log in</a>
                                    |
                                    <a href="javascript:void(0)" class="to-reset">Lost your password?</a>
                                </p>
                                <p class="backtoblog">
                                    <a href="javascript:void(0)">← Back to Madara Demo</a>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="form-reset" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="reset" class="login">
                                <h3>
                                    <a href="javascript:void(0)" class="to-reset">Lost your password?</a>
                                </h3>
                                <p class="message reset">Please enter your username or email address. You will receive a link to create a new password via email.</p>
                                <form name="resetform" id="resetform" method="post">
                                    <p>
                                        <label>
                                            Username or Email Address                                    <br>
                                            <input type="text" name="user_reset" id="user_reset" class="input" value="" size="20">
                                        </label>
                                    </p>
                                    <p class="submit">
                                        <input type="submit" name="wp-submit" class="button button-primary button-large wp-submit" value="Get New Password">
                                        <input type="hidden" name="testcookie" value="1">
                                    </p>
                                </form>
                                <p>
                                    <a class="backtoblog" href="javascript:void(0)">← Back to  Madara Demo</a>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="go-to-top active">
            <i class="icon ion-md-arrow-up"></i>
        </div>
        <script>
            jQuery(document).ready(function ($) {
                $('.woocommerce .quantity').on('click', '.minus', function (e) {
                    var $inputQty = $(this).parent().find('input.qty');
                    var val = parseInt($inputQty.val());
                    var step = $inputQty.attr('step');
                    step = 'undefined' !== typeof (step) ? parseInt(step) : 1;
                    if (val > 0) {
                        $inputQty.val(val - step).change();
                    }
                });
                $('.woocommerce .quantity').on('click', '.plus', function (e) {
                    var $inputQty = $(this).parent().find('input.qty');
                    var val = parseInt($inputQty.val());
                    var step = $inputQty.attr('step');
                    step = 'undefined' !== typeof (step) ? parseInt(step) : 1;
                    $inputQty.val(val + step).change();
                });
            });
        </script>
        <script type="text/javascript">
            (function () {
                var c = document.body.className;
                c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
                document.body.className = c;
            })();
        </script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70" id="jquery-blockui-js"></script>
        <script type="text/javascript" id="wc-add-to-cart-js-extra">
            /* <![CDATA[ */
            var wc_add_to_cart_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View cart", "cart_url": "https:\/\/live.mangabooth.com\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };
            /* ]]> */
        </script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=5.3.0" id="wc-add-to-cart-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4" id="js-cookie-js"></script>
        <script type="text/javascript" id="woocommerce-js-extra">
            /* <![CDATA[ */
            var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
            /* ]]> */
        </script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=5.3.0" id="woocommerce-js"></script>
        <script type="text/javascript" id="wc-cart-fragments-js-extra">
            /* <![CDATA[ */
            var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_7f760f08168945138f910054278eb1fd", "fragment_name": "wc_fragments_7f760f08168945138f910054278eb1fd", "request_timeout": "5000" };
            /* ]]> */
        </script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=5.3.0" id="wc-cart-fragments-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/comment-reply.min.js?ver=5.7.2" id="comment-reply-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/themes/madara/js/core.js?ver=5.7.2" id="madara-core-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/themes/madara/js/smoothscroll.js?ver=1.4.10" id="smoothscroll-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/themes/madara/js/lazysizes/lazysizes.min.js?ver=5.3.2" id="lazysizes-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/themes/madara/js/bootstrap.min.js?ver=4.6.0" id="bootstrap-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/themes/madara/js/shuffle.min.js?ver=5.3.0" id="shuffle-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/imagesloaded.min.js?ver=4.1.4" id="imagesloaded-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/themes/madara/js/aos.js?ver=5.7.2" id="aos-js"></script>
        <script type="text/javascript" id="madara-js-js-extra">
            /* <![CDATA[ */
            var madara = { "ajaxurl": "https:\/\/live.mangabooth.com\/wp-admin\/admin-ajax.php", "query_vars": { "manga-core": "kahana-no-shou", "post_type": "wp-manga", "name": "kahana-no-shou", "chapter": "chapter-1", "volume": "volume-1", "manga-paged": "4", "error": "", "m": "", "p": 0, "post_parent": "", "subpost": "", "subpost_id": "", "attachment": "", "attachment_id": 0, "pagename": "", "page_id": 0, "second": "", "minute": "", "hour": "", "day": 0, "monthnum": 0, "year": 0, "w": 0, "category_name": "", "tag": "", "cat": "", "tag_id": "", "author": "", "author_name": "", "feed": "", "tb": "", "paged": 0, "meta_key": "", "meta_value": "", "preview": "", "s": "", "sentence": "", "title": "", "fields": "", "menu_order": "", "embed": "", "category__in": [], "category__not_in": [], "category__and": [], "post__in": [], "post__not_in": [], "post_name__in": [], "tag__in": [], "tag__not_in": [], "tag__and": [], "tag_slug__in": [], "tag_slug__and": [], "post_parent__in": [], "post_parent__not_in": [], "author__in": [], "author__not_in": [], "ignore_sticky_posts": false, "suppress_filters": false, "cache_results": true, "update_post_term_cache": true, "lazy_load_term_meta": true, "update_post_meta_cache": true, "posts_per_page": 12, "nopaging": false, "comments_per_page": "50", "no_found_rows": false, "order": "DESC" }, "current_url": "https:\/\/live.mangabooth.com\/manga\/kahana-no-shou\/volume-1\/chapter-1\/p\/4", "cursorPrev": "https:\/\/live.mangabooth.com\/wp-content\/themes\/madara\/images\/cursorLeft.png", "cursorNext": "https:\/\/live.mangabooth.com\/wp-content\/themes\/madara\/images\/cursorRight.png" };
            /* ]]> */
        </script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/themes/madara/js/template.js?ver=1.6.6" id="madara-js-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/themes/madara/js/ajax.js?ver=5.7.2" id="madara-ajax-js"></script>
        <script type="text/javascript" id="wp-manga-login-ajax-js-extra">
            /* <![CDATA[ */
            var wpMangaLogin = { "admin_ajax": "https:\/\/live.mangabooth.com\/wp-admin\/admin-ajax.php", "home_url": "https:\/\/live.mangabooth.com", "messages": { "please_enter_username": "Please enter username", "please_enter_password": "Please enter password", "invalid_username_or_password": "Invalid username or password", "server_error": "Server Error!", "username_or_email_cannot_be_empty": "Username or Email cannot be empty", "please_fill_all_fields": "Please fill in all password fields.", "password_cannot_less_than_12": "Password cannot has less than 12 characters", "password_doesnot_match": "Password doesn&#039;t match. Please  try again.", "username_cannot_empty": "Username cannot be empty", "email_cannot_empty": "Email cannot be empty", "password_cannot_empty": "Password cannot be empty" } };
            /* ]]> */
        </script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/plugins/madara-core/assets/js/login.js?ver=5.7.2" id="wp-manga-login-ajax-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/plugins/madara-core/assets/slick/slick.min.js?ver=5.7.2" id="wp-manga-slick-js-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/jquery/ui/core.min.js?ver=1.12.1" id="jquery-ui-core-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/jquery/ui/menu.min.js?ver=1.12.1" id="jquery-ui-menu-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=7.4.4" id="wp-polyfill-js"></script>
        <script type="text/javascript" id="wp-polyfill-js-after">
            ('fetch' in window) || document.write('<script src="~/Asset/Web/wp-includes/js/dist/vendor/wp-polyfill-fetch.min.js?ver=3.0.0"></scr' + 'ipt>'); (document.contains) || document.write('<script src="~/Asset/Web/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js?ver=3.42.0"></scr' + 'ipt>'); (window.DOMRect) || document.write('<script src="~/Asset/Web/wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min.js?ver=3.42.0"></scr' + 'ipt>'); (window.URL && window.URL.prototype && window.URLSearchParams) || document.write('<script src="~/Asset/Web/wp-includes/js/dist/vendor/wp-polyfill-url.min.js?ver=3.6.4"></scr' + 'ipt>'); (window.FormData && window.FormData.prototype.keys) || document.write('<script src="~/Asset/Web/wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js?ver=3.0.12"></scr' + 'ipt>'); (Element.prototype.matches && Element.prototype.closest) || document.write('<script src="~/Asset/Web/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js?ver=2.0.2"></scr' + 'ipt>'); ('objectFit' in document.documentElement.style) || document.write('<script src="~/Asset/Web/wp-includes/js/dist/vendor/wp-polyfill-object-fit.min.js?ver=2.3.4"></scr' + 'ipt>');
        </script>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/dist/dom-ready.min.js?ver=eb19f7980f0268577acb5c2da5457de3" id="wp-dom-ready-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/dist/hooks.min.js?ver=50e23bed88bcb9e6e14023e9961698c1" id="wp-hooks-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/dist/i18n.min.js?ver=db9a9a37da262883343e941c3731bc67" id="wp-i18n-js"></script>
        <script type="text/javascript" id="wp-i18n-js-after">
            wp.i18n.setLocaleData({ 'text direction\u0004ltr': ['ltr'] });
        </script>
        <script type="text/javascript" id="wp-a11y-js-translations">
            (function (domain, translations) {
                var localeData = translations.locale_data[domain] || translations.locale_data.messages;
                localeData[""].domain = domain;
                wp.i18n.setLocaleData(localeData, domain);
            })("default", { "locale_data": { "messages": { "": {} } } });
        </script>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/dist/a11y.min.js?ver=5e00de7a43b31bbb9eaf685f089a3903" id="wp-a11y-js"></script>
        <script type="text/javascript" id="jquery-ui-autocomplete-js-extra">
            /* <![CDATA[ */
            var uiAutocompleteL10n = { "noResults": "No results found.", "oneResult": "1 result found. Use up and down arrow keys to navigate.", "manyResults": "%d results found. Use up and down arrow keys to navigate.", "itemSelected": "Item selected." };
            /* ]]> */
        </script>
        <script type="text/javascript" src="~/Asset/Web/wp-includes/js/jquery/ui/autocomplete.min.js?ver=1.12.1" id="jquery-ui-autocomplete-js"></script>
        <script type="text/javascript" id="wp-manga-js-extra">
            /* <![CDATA[ */
            var mangaNav = { "mangaUrl": "https:\/\/live.mangabooth.com\/manga\/kahana-no-shou\/", "backInfoPage": "on", "text": { "backInfoPage": "Manga Info", "prev": "Prev", "next": "Next" } };
            var manga = { "ajax_url": "https:\/\/live.mangabooth.com\/wp-admin\/admin-ajax.php", "home_url": "https:\/\/live.mangabooth.com", "manga_paged_var": "manga-paged", "enable_manga_view": "1", "manga_id": "395", "chapter_slug": "chapter-1" };
            var mangaReadingAjax = { "isEnable": "1" };
/* ]]> */
        </script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/plugins/madara-core/assets/js/script.js?ver=1.6.3" id="wp-manga-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/themes/madara/js/slick/slick.min.js?ver=1.9.0" id="slick-js"></script>
        <script type="text/javascript" src="~/Asset/Web/wp-content/plugins/madara-shortcodes/shortcodes/js/ct-shortcodes.js?ver=1.5.2.1" id="ct-shortcode-js-js"></script>

        <p id="a11y-speak-intro-text" class="a11y-speak-intro-text" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" hidden="hidden">Notifications</p><div id="a11y-speak-assertive" class="a11y-speak-region" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" aria-live="assertive" aria-relevant="additions text" aria-atomic="true"></div><div id="a11y-speak-polite" class="a11y-speak-region" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" aria-live="polite" aria-relevant="additions text" aria-atomic="true"></div>
    </body>
</body>
</html>
