@using WebTruyen.Models
@model List<vvTruyen>
<div class="tab-pane" id="lichSu">
    <div class="tab-group-item">
        <div class="tab-item">
            <div class="row">
                @foreach(vvTruyen truyen in Model) { 
                    <div class="col-md-4">
                        <div class="history-content">
                            <div class="item-thumb">
                                <a href="@Url.Action("TomTat","Truyen",new {id = WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen + "-"+ truyen.MaTruyen) })" title="@truyen.MaTruyen">
                                    <img width="75" height="106" src="@truyen.AnhBia" class="img-responsive" style="" alt="@truyen.MaTruyen">
                                </a>
                            </div>
                            <div class="item-infor">
                                <div class="settings-title">
                                    <h3>
                                        <a href="@Url.Action("TomTat","Truyen",new {id = WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen + "-"+ truyen.MaTruyen) })">@truyen.TenTruyen</a>
                                    </h3>
                                </div>
                                <div class="chapter">
                                    <span class="chap">
                                        <a href="@(Url.Action("Truyen","Truyen",new {id=WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen+"-"+truyen.MaTruyen),Chuong = truyen.SoChuong1 }))">
                                            Chương: @truyen.SoChuong1: @truyen.TenChuong1
                                        </a>
                                    </span>
                                </div>
                                <div class="post-on font-meta">
                                    @(truyen.NgayDang?.ToString("dd/MM/yyyy"))
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>
                                            




