@using WebTruyen.Models
@model List<vvTruyen>
<div class="tab-pane" id="truyenYeuThich">
    <table class="table table-hover list-bookmark">
        <thead>
            <tr>
                <th>Tên truyện tranh</th>
                <th>Thời gian cập nhật</th>
                <th>Biên tập</th>
            </tr>
        </thead>
        <tbody>
            @foreach(vvTruyen truyen in Model)
            {
            <tr>
                <td>
                    <div class="mange-name">
                        <div class="item-thumb">
                            <a href="@Url.Action("tomTat","Truyen",new {id = WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen +"-"+truyen.MaTruyen) })" title="@truyen.TenTruyen">
                                <img width="75" height="106" src="@truyen.AnhBia" class="img-responsive" style="" alt="@truyen.TenTruyen">
                            </a>
                        </div>
                        <div class="item-infor">
                            <div class="post-title">
                                <h3>
                                    <a href="@Url.Action("tomTat","Truyen",new {id = WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen +"-"+truyen.MaTruyen) })">@truyen.TenTruyen</a>
                                </h3>
                            </div>
                            <div class="list-chapter">
                                <div class="chapter-item ">
                                    <span class="chapter font-meta">
                                        <a href="@(Url.Action("Truyen","Truyen",new {id=WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen+"-"+truyen.MaTruyen),Chuong = truyen.SoChuong1 }))" class="btn-link"> @truyen.TenChuong1 </a>
                                    </span>                                    
                                </div>
                                <div class="chapter-item ">
                                    <span class="chapter font-meta">
                                        <a href="@(Url.Action("Truyen","Truyen",new {id=WebTruyen.Helper.Commons.convertToUnSign3(truyen.TenTruyen+"-"+truyen.MaTruyen),Chuong = truyen.SoChuong2 }))" class="btn-link"> @truyen.TenChuong2 </a>
                                    </span>                                    
                                </div>
                            </div>
                        </div>
                    </div> 
                </td>
                <td>
                    <div class="post-on">
                        @(truyen.NgayDang?.ToString("dd/MM/yyyy"))
                    </div>
                </td>
                <td>
                    <div class="action">
                        <div class="checkbox">
                            <input id="@truyen.MaTruyen" class="bookmark-checkbox" value="@truyen.MaTruyen" type="checkbox">
                            <label for="@truyen.MaTruyen"></label>
                        </div>
                        <a class="wp-manga-delete-bookmark" href="javascript:void(0)" data-post-id="@truyen.MaTruyen"><i class="icon ion-ios-close"></i></a>
                    </div>
                </td>
            </tr>
            }
            
            <tr>
                <td colspan="3">
                    <div class="remove-all float-right">
                        <div class="checkbox">
                            <input id="checkall" type="checkbox">
                            <label for="checkall">Rà soát tất cả</label>
                        </div>
                        <button type="button" id="delete-bookmark-manga" class="btn btn-default">Xóa bỏ</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>