@using WebTruyen.Helper
@using WebTruyen.Models
@model TaiKhoan
@{
    ViewBag.Title = "ThongtinTK";
    Layout = "~/Views/Shared/_Layoutwebindex.cshtml";
}
<div class="site-content">
    <div class="c-page-content style-2">
        <div class="content-area">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12 col-sm-12">
                        <div class="c-sidebar">
                            <div class="body-top-sidebar">
                                <div class="row c-row">
                                </div>
                            </div>
                        </div>
                        <div class="main-col-inner">
                            <div id="post-5" class="c-blog-post post-5 page type-page status-publish hentry">
                                <div class="entry-header">
                                    <div class="entry-header_wrap">
                                        <div class="entry-title">
                                            <h1 class="item-title h2">User Settings</h1>
                                        </div>
                                        <div class="entry-meta">
                                            <div class="post-on">
                                                <span class="font-meta">Ngày</span>
                                                <div class="c-blog__date">
                                                    <span class="posted-on"> <a href="##" rel="bookmark">@DateTime.Now.ToString("dd/MM/yyyy")</a></span>
                                                    <span class="post-category"><br></span>
                                                </div>
                                            </div>
                                            <div class="post-meta total-count font-meta">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-content_wrap">
                                        <div class="row settings-page">
                                            <div class="col-md-3 col-sm-3">
                                                <div class="nav-tabs-wrap">
                                                    <ul class="nav nav-tabs" id="menuuser" role="tablist">
                                                        <li class="">
                                                            <a data-toggle="tab" href="#truyenYeuThich"><i class="fas fa-heart"></i>Truyện yêu thích</a>
                                                        </li>
                                                        <li class="">
                                                            <a data-toggle="tab" href="#lichSu"><i class="icon ion-md-alarm"></i>Lịch sử </a>
                                                        </li>
                                                        <li class="">
                                                            @{
                                                                if (!(new int[] { vtTaiKhoan.tacGiaDaDuyet, vtTaiKhoan.dichGiaDaDuyet }).Contains(Auth.user().VaiTro))
                                                                {
                                                                    <a data-toggle="tab" href="#dangKyTacGia"><i class="fas fa-pencil-alt"></i>Đăng kí tác giả </a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@Url.Action("TrangTacGia","TacGia")"><i class="fas fa-pencil-alt"></i>Tác giả </a>
                                                                }

                                                            }

                                                        </li>
                                                        <li class="active">
                                                            <a data-toggle="tab" href="#thongTinTK"><i class="icon ion-md-person"></i>Cài đặt tài khoản </a>
                                                        </li>
                                                        <li>
                                                            <a data-toggle="tab" href="#TheoDoi"><i class="fa fa-rss"></i>Theo Dõi</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-9">
                                                <div class="tabs-content-wrap">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="thongTinTK">
                                                            <form method="post" id="form-account-settings" data-force-strong-password="1" onsubmit="return false">
                                                                <input type="hidden" value="981" name="userID">
                                                                <input type="hidden" id="_wpnonce" name="_wpnonce" value="c0d5ad0b0f"><input type="hidden" name="_wp_http_referer" value="/user-settings/?tab=account-settings"> <div class="tab-group-item">
                                                                    <div class="tab-item">
                                                                        <div class="choose-avatar">
                                                                            <div class="loading-overlay">
                                                                                <div class="loading-icon">
                                                                                    <i class="fas fa-spinner fa-spin"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="c-user-avatar">
                                                                                <img alt="" src="@(Model.Avatar??"pp")" onError="this.onerror=null;this.src='https://secure.gravatar.com/avatar/b650eff44bd823b9df5d4fbd0d0b8422?s=390&amp;d=mm&amp;r=g';" class="avatar avatar-195 photo" height="195" width="195" loading="lazy" id="Avatar">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form form-choose-avatar">
                                                                            <div class="select-flie">
                                                                                Chỉ dành cho tệp .jpg .png hoặc .gif <label class="select-avata">
                                                                                    <input type="file" name="wp-manga-user-avatar" id="upFile" onchange="loadFile(event, 'Avatar')">
                                                                                    <span class="file-name"></span>
                                                                                </label>
                                                                                <input type="submit" value="Tải lên" name="wp-manga-upload-avatar" id="wp-manga-upload-avatar" onclick="upload('upFile','@Url.Action("upAvatar","Home")')" />

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-item">
                                                                        <div class="settings-title">
                                                                            <h3>
                                                                                Thay đổi tên hiển thị của bạn
                                                                            </h3>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="name-input" class="col-md-3">Tên hiển thị hiện tại</label>
                                                                            <div class="col-md-9">
                                                                                <span class="show">@Model.HovaTen</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="name-input" class="col-md-3">Tên hiển thị mới</label>
                                                                            <div class="col-md-9">
                                                                                <input class="form-control" type="text" value="" name="user-new-name" id="user-new-name">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="name-input-submit" class="col-md-3"></label>
                                                                            <div class="col-md-9">
                                                                                <input class="form-control" type="submit" value="Gửi đi" id="name-input-submit" name="account-form-submit">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-item">
                                                                        <div class="settings-title">
                                                                            <h3>
                                                                                Thay đổi địa chỉ email của bạn
                                                                            </h3>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="email-input" class="col-md-3">Email của bạn</label>
                                                                            <div class="col-md-9">
                                                                                <span class="show">@Model.Mail</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="email-input" class="col-md-3">Địa chỉ email tử mới</label>
                                                                            <div class="col-md-9">
                                                                                <input class="form-control" type="email" value="" id="email-input" name="user-new-email">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="email-input-submit" class="col-md-3"></label>
                                                                            <div class="col-md-9">
                                                                                <input class="form-control" type="submit" value="Gửi đi" id="email-input-submit" name="account-form-submit">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-item">
                                                                        <div class="settings-title">
                                                                            <h3>
                                                                                Thay đổi địa chỉ email của bạn
                                                                            </h3>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="email-input" class="col-md-3">Số điện thoại của bạn</label>
                                                                            <div class="col-md-9">
                                                                                <span class="show">@Model.SDT</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="email-input" class="col-md-3">Số điện thoại mới</label>
                                                                            <div class="col-md-9">
                                                                                <input class="form-control" type="number" value="" id="phone-input" name="phone-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="email-input-submit" class="col-md-3"></label>
                                                                            <div class="col-md-9">
                                                                                <input class="form-control" type="submit" value="Gửi đi" id="phone-input-submit" name="account-form-submit">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-item">
                                                                        <div class="settings-title">
                                                                            <h3>
                                                                                Thay đổi mật khẩu của bạn
                                                                            </h3>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="currrent-password-input" class="col-md-3">Mật khẩu hiện tại</label>
                                                                            <div class="col-md-9">
                                                                                <input class="form-control" type="password" value="" id="currrent-password-input" name="user-current-password">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="new-password-input" class="col-md-3">mật khẩu mới</label>
                                                                            <div class="col-md-9">
                                                                                <input class="form-control" type="password" value="" id="new-password-input" name="user-new-password">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="comfirm-password-input" class="col-md-3">Xác nhận mật khẩu</label>
                                                                            <div class="col-md-9">
                                                                                <input class="form-control" type="password" value="" id="comfirm-password-input" name="user-new-password-confirm">
                                                                                <span id="password-strength"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label for="password-input-submit" class="col-md-3"></label>
                                                                            <div class="col-md-9">
                                                                                <label id="checkbox-weak-password" style="display:none"><input type="checkbox" id="agree-weak-password">I agree to use this weak password</label>
                                                                                <input class="form-control" type="submit" value="Gửi đi" id="password-input-submit" name="account-form-submit">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        @Html.Partial("DangKiTacGia")
                                                        @{
                                                            Html.RenderAction("Theodoi", "Home");
                                                            Html.RenderAction("Lichsu", "Home");
                                                            Html.RenderAction("dsTheoDoi", "Home");
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-sidebar">
                            <div class="body-bottom-sidebar">
                                <div class="row c-row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section js{
    <script>
        function checkEmail(email) {
            var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (!filter.test(email)) {
                     return false;
            }
            else {
                return true;
            }
        }
        $(document).ready(function () {
            $("#guidi").click(async function () {
                debugger
                let butdanh = $("#butdanh").val()
                let vaitro = parseInt($("#vaitro").val())
                let guidi = await API.dkTacGia(butdanh, vaitro)
                if (guidi == true) {
                    alert("Đăng kí tác giả thành công, xin chờ xét duyệt")
                }
                else {
                    alert("Lỗi hệ thống")
                }
            })
            $("#menuuser li").click(function () {
                $("#menuuser li").removeClass("active")
                $(this).addClass("active")
            })
            $("#password-input-submit").click(async function () {
                let mkHT = $("#currrent-password-input").val()
                let mkMoi = $("#new-password-input").val()
                let xnMK = $("#comfirm-password-input").val()
                let rs = await API.doiMatKhau(mkHT, mkMoi, xnMK)
                alert(rs)
            })
            $("#name-input-submit,#email-input-submit,#phone-input-submit").click(async function () {
                let hoTen = $("#user-new-name").val()
                let email = $("#email-input").val()
                if (email != "" && !checkEmail(email)) return
                let SDT = $("#phone-input").val()
                let rs = await API.CapNhatTKUser(hoTen, email, SDT)
                if (rs) {
                    alert("Cập nhật tài khoản thành công")
                } else {
                    alert("Cập nhật tài khoản thất bại")
                }
            })
        })
        function loadFile(event, ouput) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById(ouput);
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
        function upload(input, url) {
            debugger
            if (window.FormData !== undefined) {
                var fileUpload = $("#" + input).get(0);
                var files = fileUpload.files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (result) {
                        alert(result)
                    },
                    error: function () {
                        alert("Có sự cố khi tải lên file!");
                    }
                });
            }

        }
    </script>
    <script>
        $(document).ready(function () {
            $("#delete-bookmark-manga").click(async function () {
                debugger
                let check = []
                $("#truyenYeuThich").find(".bookmark-checkbox").each(function () {
                    if ($(this).is(":checked")) {
                        check.push(this)
                    }
                })
                check.forEach(async function (item, index) {
                    let maTruyen = parseInt($(item).val())
                    let rs = await API.thichTruyen(maTruyen, false)
                })
                check.forEach(function (item, index) {
                    $(item).parents("tr").remove()
                })
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $(".xoaTheoDoi").click(async function () {
                debugger
                let maTK = parseInt($(this).attr("maTK"))
                let rs = await API.theoDoi(maTK, false)
                $(this).parents(".col-md-4").remove()
            })
        })
    </script>
}

