@model IEnumerable<WebTruyen.Models.TacGia>

@{
    ViewBag.Title = "Danh sách Tác Giả";
    Layout = "~/Views/Shared/_LayoutAdminWeb.cshtml";
}
<table class="table">
    <tr>
        <th>
            Mã Tác Giả
        </th>
        <th>
            Mã Tài Khoản
        </th>
        <th>
            Bút danh
        </th>
        <th>
            Ngày Đăng ký
        </th>
        <th>
            Vai trò
        </th>
        <th>
            Xét duyệt
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ButDanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDangKy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaiTro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaDuyet)
        </td>
        <td>
            <div>
                <button type="button" class="btn btn-default thongtin" data-toggle="modal" data-target="#myModal" iduser="@item.MaTG">
                    <a href="#">Details</a>
                </button>


            </div>
            <div>
                <button type="button" class="btn btn-default xoaTK" iduser="@item.MaTG">
                    <a href="#">Delete</a>
                </button>
            </div>
        </td>
    </tr>
}

</table>
