@model IEnumerable<WebTruyen.Models.TacGia>

@{
    ViewBag.Title = "Danh sách Tác Giả";
    Layout = "~/Views/Shared/_LayoutAdminWeb.cshtml";
}
<table class="table">
    <tr>
        <th>
            Mã Tác Giả
        </th>
        <th>
            Mã Tài Khoản
        </th>
        <th>
            Bút danh
        </th>
        <th>
            Ngày Đăng ký
        </th>
        <th>
            Vai trò
        </th>
        <th>
            Xét duyệt
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ButDanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDangKy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaiTro)
        </td>
        <td id="daduyet">
            @Html.DisplayFor(modelItem => item.DaDuyet)
        </td>
        <td>
            <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    @Html.ActionLink("Xét duyệt", "Edit", new { id = item.MaTK }) |
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item xetduyet" href="#" iduser="@item.MaTG">Duyệt</a>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-default thongtin" data-toggle="modal" data-target="#myModal" iduser="@item.MaTG">
                    <a href="#">Chi tiết</a>
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-default xoaTK" iduser="@item.MaTG">
                    <a href="#">Xóa</a>
                </button>
            </div>
        </td>
    </tr>
}

</table>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thông tin tác giả</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">

                                <!-- Profile Image -->
                                <div class="card card-primary card-outline">
                                    <div class="card-body box-profile">
                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">
                                        </div>

                                        <h3 class="profile-username text-center butdanh">Nina Mcintire</h3>

                                        <p class="text-muted text-center ">Software Engineer</p>

                                        <ul class="list-group list-group-unbordered mb-3">
                                            <li class="list-group-item">
                                                <b>Ngày đăng kí</b> <a class="float-right ngaydangki">1,322</a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Vai trò</b> <a class="float-right vaitro">543</a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Tình trạng</b> <a class="float-right daduyet">13,287</a>

                                            </li>
                                        </ul>

                                        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                                <!-- About Me Box -->
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-header p-2">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item"><a class="nav-link" href="#tttaikhoan" data-toggle="tab">Tài khoản</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Tác phẩm</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Cài đặt</a></li>
                                        </ul>
                                    </div><!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="tab-content">

                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="timeline">
                                                <!-- The timeline -->
                                                <div class="timeline timeline-inverse">
                                                    <!-- timeline time label -->
                                                    <div class="time-label">
                                                        <span class="bg-danger">
                                                            10 Feb. 2014
                                                        </span>
                                                    </div>
                                                    <!-- /.timeline-label -->
                                                    <!-- timeline item -->
                                                    <div>
                                                        <i class="fas fa-envelope bg-primary"></i>

                                                        <div class="timeline-item">
                                                            <span class="time"><i class="far fa-clock"></i> 12:05</span>

                                                            <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                                            <div class="timeline-body">
                                                                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                                                weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                                                jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                                                quora plaxo ideeli hulu weebly balihoo...
                                                            </div>
                                                            <div class="timeline-footer">
                                                                <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                                                <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- END timeline item -->
                                                    <!-- timeline item -->
                                                    <div>
                                                        <i class="fas fa-user bg-info"></i>

                                                        <div class="timeline-item">
                                                            <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                                                            <h3 class="timeline-header border-0">
                                                                <a href="#">Sarah Young</a> accepted your friend request
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <!-- END timeline item -->
                                                    <!-- timeline item -->
                                                    <div>
                                                        <i class="fas fa-comments bg-warning"></i>

                                                        <div class="timeline-item">
                                                            <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                                                            <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                                            <div class="timeline-body">
                                                                Take me to your leader!
                                                                Switzerland is small and neutral!
                                                                We are more like Germany, ambitious and misunderstood!
                                                            </div>
                                                            <div class="timeline-footer">
                                                                <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- END timeline item -->
                                                    <!-- timeline time label -->
                                                    <div class="time-label">
                                                        <span class="bg-success">
                                                            3 Jan. 2014
                                                        </span>
                                                    </div>
                                                    <!-- /.timeline-label -->
                                                    <!-- timeline item -->
                                                    <div>
                                                        <i class="fas fa-camera bg-purple"></i>

                                                        <div class="timeline-item">
                                                            <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                                                            <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                                            <div class="timeline-body">
                                                                <img src="http://placehold.it/150x100" alt="...">
                                                                <img src="http://placehold.it/150x100" alt="...">
                                                                <img src="http://placehold.it/150x100" alt="...">
                                                                <img src="http://placehold.it/150x100" alt="...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- END timeline item -->
                                                    <div>
                                                        <i class="far fa-clock bg-gray"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.tab-pane -->

                                            <div class="tab-pane" id="settings">
                                                <form class="form-horizontal">
                                                    <div class="form-group row">
                                                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                                        <div class="col-sm-10">
                                                            <input type="email" class="form-control" id="inputName" placeholder="Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                                        <div class="col-sm-10">
                                                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="inputName2" placeholder="Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="offset-sm-2 col-sm-10">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="offset-sm-2 col-sm-10">
                                                            <button type="submit" class="btn btn-danger">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="tttaikhoan">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Tên Tài Khoản<a class="float-right" id="hoten">13,287</a></li>
                                                    <li class="list-group-item">Mail<a class="float-right" id="mail">13,287</a></li>
                                                    <li class="list-group-item">Số điện thoại<a class="float-right" id="sdt">13,287</a></li>
                                                    <li class="list-group-item">Ngày tạo<a class="float-right" id="ngaytao">13,287</a></li>
                                                    <li class="list-group-item">Tình trạng<a class="float-right" id="tinhtrang">13,287</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <!-- /.tab-content -->
                                    </div><!-- /.card-body -->
                                </div>
                                <!-- /.nav-tabs-custom -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div><!-- /.container-fluid -->
                </section>
            </div>            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
@section js{
    <script>
        $(document).ready(function () {
            $(".xetduyet").click(async function () {
                debugger
                let userid = $(this).attr("iduser")
                let daduyet = await API.XetDuyetTG(userid)
                if (daduyet == true) {

                    alert("Đã duyệt tác giả")
                }
            })
            $(".thongtin").click(async function () {
                let userid = $(this).attr("iduser")
                let thongtin = await API.LayThongTinTG(userid)
                $(".butdanh").text(thongtin.ButDanh);
                $(".ngaydangki").text(thongtin.NgayDangKy);
                $(".vaitro").text(vaitroTg(thongtin.VaiTro));
                $(".daduyet").text(thongtin.DaDuyet ? "Đã duyệt" : "Chưa duyệt");
                let thongtintk = await API.layTTTaiKhoan(thongtin.MaTK)
                $("#hoten").text(thongtintk.HovaTen);
                $("#mail").text(thongtintk.Mail);
                $("#sdt").text(thongtintk.SDT);
                $("#ngaytao").text(thongtintk.NgayTao);
                $("#tinhtrang").text(tinhTrangTK(thongtintk.TinhTrang));
            })

        })
    </script>
    }
