@model IEnumerable<WebTruyen.Models.TaiKhoan>

@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_LayoutAdminWeb.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Mã Tài Khoản
        </th>
        <th>
            Họ và Tên
        </th>
        <th>
            Mail
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Tình trạng
        </th>
        <th>
            Ngày khóa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HovaTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayKhoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaTK }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaTK }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaTK })
        </td>
    </tr>
}

</table>
